<!DOCTYPE html>
<html class="no-js cunnet-dark" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Abu Huraira - Personal Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo/favicon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome-pro.css">

    <link rel="stylesheet" href="~/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nice-select.css">

    <link rel="stylesheet" href="~/css/spacing.css">
    <link rel="stylesheet" href="~/css/main.css">



</head>

<body class="tp-magic-cursor">
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- Begin magic cursor -->
    <div id="magic-cursor" class="cursor-black-bg">
        <div id="ball"></div>
    </div>
    <!-- End magic cursor -->
    <!-- back to top start -->
    <div class="back-to-top-wrapper">
        <button id="back_to_top" type="button" class="back-to-top-btn">
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <!-- back to top end -->
    <!-- offcanvas 2 start -->
    <div class="tp-offcanvas-2-area p-relative">
        <div class="offcanvas-bg"></div>
        <div class="tp-offcanvas-2-wrapper offcanvas-menu">
            <div class="tp-offcanvas-2-left">
                <div class="tp-header-logo d-flex justify-content-between align-items-center mb-50">
                    <span class="hamburger-close-btn">
                        <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.19141 9.80762L27.5762 28.1924" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.19141 28.1924L27.5762 9.80761" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                </div>
                <div class="tp-offcanvas-menu counter-row">
                    <nav></nav>
                </div>
                <span class="hamburger-close-btn hamburger-mobile-close-btn d-md-none">CLOSE</span>
            </div>
        </div>
    </div>
    <!-- offcanvas 2 end -->

    <header>
        <!-- header area start -->
        <div class="tp-header-area tp-header-spacing header-transparent">
            <div class="container">
                <div class="pp-header-top">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 col-12">
                            <div class="pp-header-top-wrap mb-10">
                                <h2 class="pp-header-top-content tp-ff-sequel-semi-bold text-white tp-char-animation"><a
                                        href="index-2.html">Abu</a></h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div
                                class="pp-header-top-logo-wrap d-flex align-items-start justify-content-sm-end justify-content-sm-start ml-55 mb-10">
                                <h2 class="pp-header-top-content tp-ff-sequel-semi-bold text-white tp-char-animation">
                                    Huraira</h2>
                                <button class="pp-header-hamburger hamburger-open-btn mt-20 ml-40">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 6H0M6 12L6 0" stroke="currentColor" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pp-header-main mt-15 mb-20">
                    <div class="row align-items-center">
                        <div class="col-xxl-4 col-xl-4 d-none d-xl-block">
                            <div class="pp-main-menu mb-20">
                                <nav>
                                    <ul>
                                        <li><a href="~/">Home</a></li>
                                        <li><a href="~/Home/About">About</a></li>
                                        <li><a href="~/Home/Blog">Blog</a></li>
                                        <li><a href="~/Home/Service">Services</a></li>
                                        <li><a href="~/Home/Portfolio">Portfolio</a></li>
                                        <li><a href="~/Home/Contact">Contact</a></li>
                                    </ul>
                                </nav>
                                <div class="tp-main-menu d-none">
                                    <nav class="tp-mobile-menu-active">
                                        <ul>
                                            <li>
                                                <a href="~/">Home</a>
                                            </li>
                                            <li>
                                                <a href="~/Home/About">About</a>
                                            </li>
                                            <li>
                                                <a href="~/Home/Portfolio">Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="~/Home/Service">Services</a>
                                            </li>
                                            <li>
                                                <a href="~/Home/Contact">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-4 offset-xxl-1">
                            <div class="pp-header-btn ml-60 mb-20">
                                <a class="tp-btn pp-btn-nobg text-uppercase" href="contact-me-dark.html">

                                    @*<span>
                                    <span class="text-1">Start A Project</span>
                                    <span class="text-2">Start A Project</span>
                                    </span>*@

                                    @*<i>
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967
                                    10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875
                                    0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875
                                    -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329
                                    1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25
                                    10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678
                                    1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                    fill="currentColor" />
                                    </svg>
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967
                                    10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875
                                    0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875
                                    -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329
                                    1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25
                                    10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678
                                    1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                    fill="currentColor" />
                                    </svg>
                                    </i>*@

                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                            <div class="pp-header-social mb-20">
                                <a class="tp-btn tp-btn-white text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">GitHub</span>
                                        <span class="text-2">GitHub</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                                <a class="tp-btn tp-btn-white text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">LinkedIn</span>
                                        <span class="text-2">LinkedIn</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                                <a class="tp-btn tp-btn-white text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">Twitter</span>
                                        <span class="text-2">Twitter</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- sticky-menu-area -->
        <button id="header-sticky" class="hamburger-open-btn tp-header-sidebar-btn hamburger-sticky-menu">
            <span></span>
            <span></span>
        </button>
        <!-- sticky-menu-end -->

    </header>

    <div id="smooth-wrapper">
        <div id="smooth-content">

            @RenderBody()




            <footer>

                <!-- footer area start -->
                <div class="tp-footer-area mp-footer-style cs-footer-style pt-105" data-bg-color="#1e1e1e">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-3 col-lg-4">
                                <div class="tp-footer-logo mb-40 tp_fade_anim" data-delay=".4">
                                    <a href="index-dark.html"><img data-width="230" src="~/img/logo/logo-white.png"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-lg-8">
                                <div class="tp-footer-widget tp-footer-link cs-footer-widget-1 mb-30 tp_fade_anim"
                                    data-delay=".5">
                                    <h5 class="tp-footer-subtitle text-white mb-25">Quick links</h5>
                                    <div class="tp-hero-social">
                                        <a href="#">About</a>
                                        <a href="#">Who we are</a>
                                        <a href="#">Services</a>
                                        <a href="#">Projects</a>
                                        <a href="#">Blog</a>
                                        <a href="#">Pricing</a>
                                        <a href="#">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 offset-xl-1">
                                <div class="tp-footer-widget cs-footer-widget-2 mb-30 tp_fade_anim" data-delay=".6">
                                    <span class="tp-footer-dec text-white">Searching for exceptional talents?</span>
                                    <h4 class="tp-footer-email tp-ff-sequel-roman text-white"><a
                                            href="mailto:abuhuraira1514@gmail.com">abuhuraira1514@gmail.com</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="tp-footer-copyright-area tp-about-border mt-65 pt-30 pb-10">
                            <div class="row align-items-center">
                                <div class="col-xl-3 col-lg-5">
                                    <div class="tp-footer-copyright-wrap mb-20 tp_fade_anim" data-delay=".3">
                                        <span class="tp-footer-copyright"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="tp-footer-copyright-social mb-20 tp_fade_anim" data-delay=".5">
                                        <a href="#">
                                            Facebook
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001"
                                                    stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            Twitter
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001"
                                                    stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            Instagram
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001"
                                                    stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            LinkedIn
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001"
                                                    stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="tp-footer-copyright-wrap text-lg-end mb-20 tp_fade_anim"
                                        data-delay=".7">
                                        <span class="tp-footer-copyright"> <span class="update-year"></span></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="tp-title-anim no-animrtion text-center fix pb-15 tp_fade_anim"
                                        data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                        <h2
                                            class="tp-title-anim-inner cs-footer-bigtitle justify-content-center tp-ff-sequel-heavy-disp text-uppercase text-white">
                                            <a class="tp-title-text" href="contact-us-light.html">Say Hello!</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer area end -->

            </footer>
            <!-- JS here -->
            @*<script src="~/js/vendor/jquery.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/plugin.js"></script>
            <script src="~/js/split-type.js"></script>
            <script src="~/js/three.js"></script>
            <script src="~/js/hover-effect.umd.js"></script>
            <script src="~/js/swiper-bundle.js"></script>
            <script src="~/js/magnific-popup.js"></script>
            <script src="~/js/nice-select.js"></script>
            <script src="~/js/purecounter.js"></script>
            <script src="~/js/parallax.js"></script>
            <script src="~/js/ajax-form.js"></script>
            <script src="~/js/slider-init.js"></script>
            <script src="~/js/main.js"></script>
            <script src="~/js/tp-cursor.js"></script>*@

            <!-- Core -->
            <script src="~/js/vendor/jquery.js" defer></script>
            <script src="~/js/bootstrap.min.js" defer></script>
            <!-- Core plugins / helpers -->
            <script src="~/js/plugin.js" defer></script>
            <!-- Libraries used by effects -->
            <script src="~/js/swiper-bundle.js" defer></script>
            <script src="~/js/magnific-popup.js" defer></script>
            <script src="~/js/nice-select.js" defer></script>
            <script src="~/js/purecounter.js" defer></script>
            <!-- Scroll / animation related (ORDER MATTERS) -->
            <script src="~/js/three.js" defer></script>
            <script src="~/js/hover-effect.umd.js" defer></script>
            <script src="~/js/parallax.js" defer></script>
            <script src="~/js/split-type.js" defer></script>
            <!-- Feature initializers -->
            <script src="~/js/slider-init.js" defer></script>
            <script src="~/js/ajax-form.js" defer></script>
            <!-- Main controller (MUST BE LAST) -->
            <script src="~/js/main.js" defer></script>
            <!-- Cursor (optional but last) -->
            <script src="~/js/tp-cursor.js" defer></script>


        </div>
    </div>


</body>

</html>
