@model VS_portfolio_2026.Models.LoginViewModel
@{
   Layout = null;
}

<!doctype html>
<html class="no-js cunnet-dark" lang="zxx">

<head>

   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Cunnet - Creative Portfolio Agency HTML Template</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">

   <!-- CSS here -->
   <link rel="stylesheet" href="~/css/bootstrap.min.css">
   <link rel="stylesheet" href="~/css/swiper-bundle.css">
   <link rel="stylesheet" href="~/css/nice-select.css">
   <link rel="stylesheet" href="~/css/magnific-popup.css">
   <link rel="stylesheet" href="~/css/font-awesome-pro.css">
   <link rel="stylesheet" href="~/css/spacing.css">
   <link rel="stylesheet" href="~/css/main.css">

</head>

<body class="tp-magic-cursor">

   <!-- preloader -->
   <div id="preloader">
      <div class="preloader">
         <span></span>
         <span></span>
      </div>
   </div>
   <!-- preloader end  -->

   <!-- Begin magic cursor -->
   <div id="magic-cursor" class="cursor-black-bg">
      <div id="ball"></div>
   </div>
   <!-- End magic cursor -->

   <!-- back to top start -->
   <div class="back-to-top-wrapper">
      <button id="back_to_top" type="button" class="back-to-top-btn">
         <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
               stroke-linejoin="round" />
         </svg>
      </button>
   </div>
   <!-- back to top end -->

   <!--search-form-start -->
   <div class="tp-search-body-overlay"></div>
   <div class="tp-search-form-toggle">
      <div class="container">
         <div class="row mb-70">
            <div class="col-lg-12">
               <div class="tp-search-top d-flex justify-content-between align-items-center">
                  <div class="tp-header-logo tp-search-logo">
                     <a href="index-dark.html">
                        <img class="logo-1" data-width="140" src="assets/img/logo/logo.png" alt="">
                        <img class="logo-2" data-width="140" src="assets/img/logo/logo-white.png" alt="">
                     </a>
                  </div>
                  <button class="tp-search-close">
                     <i class="fa-light fa-xmark"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="tp-search-form">
                  <form action="#">
                     <div class="tp-search-form-input">
                        <input type="text" placeholder="What are you looking foor?" required>
                        <span class="tp-search-focus-border"></span>
                        <button class="tp-search-form-icon" type="submit">
                           <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- search-form-end -->

   <div id="smooth-wrapper">
      <div id="smooth-content">

         <main>

            <!-- login area start -->
            <div class="tp-login-area pre-header pt-200 pb-140 p-relative z-index-1 fix">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-xxl-5 col-xl-6 col-lg-8">
                        <div class="tp-login-wrapper">
                           <div class="tp-login-top text-center mb-30">
                              <h3 class="tp-login-title">Admin Panel Login</h3>
                              <p>Please enter your credentials to continue.</p>
                           </div>
                           <div class="tp-login-option">

                              <form method="post" asp-controller="Admin" asp-action="Login">
                                 @Html.AntiForgeryToken()
                                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                 <div class="tp-login-input-wrapper">
                                    <div class="tp-login-input-box">
                                       <div class="tp-login-input-title">
                                          <label asp-for="Username">Username</label>
                                       </div>
                                       <div class="tp-login-input">
                                          <input asp-for="Username" type="text" placeholder="admin">
                                          <span asp-validation-for="Username" class="text-danger"></span>
                                       </div>
                                    </div>
                                    <div class="tp-login-input-box">
                                       <div class="tp-login-input-title">
                                          <label asp-for="Password">Password</label>
                                       </div>
                                       <div class="tp-login-input p-relative">
                                          <input asp-for="Password" type="password" placeholder="Min. 6 character">
                                          <span asp-validation-for="Password" class="text-danger"></span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="tp-login-bottom mt-30">
                                    <button type="submit" class="tp-login-btn w-100">Login</button>
                                 </div>
                              </form>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- login area end -->

         </main>

      </div>
   </div>


   <!-- JS here -->
   <script src="~/js/vendor/jquery.js"></script>
   <script src="~/js/bootstrap.min.js"></script>
   <script src="~/js/plugin.js"></script>
   <script src="~/js/split-type.js"></script>
   <script src="~/js/three.js"></script>
   <script src="~/js/hover-effect.umd.js"></script>
   <script src="~/js/swiper-bundle.js"></script>
   <script src="~/js/magnific-popup.js"></script>
   <script src="~/js/nice-select.js"></script>
   <script src="~/js/purecounter.js"></script>
   <script src="~/js/ajax-form.js"></script>
   <script src="~/js/slider-init.js"></script>
   <script src="~/js/main.js"></script>
   <script src="~/js/tp-cursor.js"></script>

</body>

</html>