@page
@{
}


<!doctype html>
<html class="no-js cunnet-dark" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cunnet - Creative Portfolio Agency HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/font-awesome-pro.css">
    <link rel="stylesheet" href="assets/css/spacing.css">
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body class="tp-magic-cursor">

    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- Begin magic cursor -->
    <div id="magic-cursor" class="cursor-black-bg">
        <div id="ball"></div>
    </div>
    <!-- End magic cursor -->
    <!-- back to top start -->
    <div class="back-to-top-wrapper">
        <button id="back_to_top" type="button" class="back-to-top-btn">
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <!-- back to top end -->
    <!-- offcanvas 2 start -->
    <div class="tp-offcanvas-2-area p-relative">
        <div class="offcanvas-bg"></div>
        <div class="tp-offcanvas-2-wrapper offcanvas-menu">
            <div class="tp-offcanvas-2-left">
                <div class="tp-header-logo d-flex justify-content-between align-items-center mb-50">
                    <a href="index-dark.html">
                        <img class="logo-1" data-width="170" src="assets/img/logo/logo.png" alt="">
                        <img class="logo-2" data-width="170" src="assets/img/logo/logo-white.png" alt="">
                    </a>
                    <span class="hamburger-close-btn">
                        <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.19141 9.80762L27.5762 28.1924" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.19141 28.1924L27.5762 9.80761" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                </div>
                <div class="tp-offcanvas-menu counter-row">
                    <nav></nav>
                </div>
                <span class="hamburger-close-btn hamburger-mobile-close-btn d-md-none">CLOSE</span>
            </div>
        </div>
    </div>
    <!-- offcanvas 2 end -->

    <header>

        <!-- header area start -->
        <div class="tp-header-area pp-header-white tp-header-spacing header-transparent">
            <div class="container">
                <div class="pp-header-top">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 col-12">
                            <div class="pp-header-top-wrap mb-10">
                                <h2 class="pp-header-top-content tp-ff-sequel-semi-bold tp-char-animation"><a href="index-2.html">Cunnet</a></h2>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6 col-12">
                            <div class="pp-header-top-logo-wrap d-flex align-items-start justify-content-sm-end justify-content-sm-start ml-55 mb-10">
                                <h2 class="pp-header-top-content tp-ff-sequel-semi-bold tp-char-animation">Banten</h2>
                                <button class="pp-header-hamburger hamburger-open-btn mt-20 ml-40">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 6H0M6 12L6 0" stroke="currentColor" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pp-header-main mt-15 mb-20">
                    <div class="row align-items-center">
                        <div class="col-xxl-4 col-xl-4 d-none d-xl-block">
                            <div class="pp-main-menu mb-20">
                                <nav>
                                    <ul>
                                        <li><a href="index-dark.html">Home</a></li>
                                        <li><a href="about-me-dark.html">About</a></li>
                                        <li><a href="blog-dark.html">Blog</a></li>
                                        <li><a href="service-dark.html">Services</a></li>
                                        <li><a href="portfolio-2-dark.html">Portfolio</a></li>
                                        <li><a href="contact-me-dark.html">Contract</a></li>
                                    </ul>
                                </nav>
                                <div class="tp-main-menu d-none">
                                    <nav class="tp-mobile-menu-active">
                                        <ul>
                                            <li class="has-dropdown">
                                                <a href="index-2.html">Home</a>
                                                <div class="tp-submenu submenu tp-megamenu">
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            <div class="tp-megamenu-box">
                                                                <div class="tp-megamenu-title-wrap">
                                                                    <span class="tp-megamenu-title">Light Version</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="index-2.html">Creative Agency</a></li>
                                                                    <li><a href="index-digital-light.html">Digital Studio</a></li>
                                                                    <li><a href="index-modern-light.html">Modern Agency</a></li>
                                                                    <li><a href="index-personal-portfolio-light.html">Personal Portfolio</a></li>
                                                                    <li><a href="index-branding-studio-light.html">Branding Studio</a></li>
                                                                    <li><a href="index-motion-graphic-light.html">Motion Graphics</a></li>
                                                                    <li><a href="index-shop-light.html">Agency Shop</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <div class="tp-megamenu-box">
                                                                <div class="tp-megamenu-title-wrap">
                                                                    <span class="tp-megamenu-title">Dark Version</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="index-dark.html">Creative Agency</a></li>
                                                                    <li><a href="index-digital-dark.html">Digital Studio</a></li>
                                                                    <li><a href="index-modern-dark.html">Modern Agency</a></li>
                                                                    <li><a href="index-personal-portfolio-dark.html">Personal Portfolio</a></li>
                                                                    <li><a href="index-branding-studio-dark.html">Branding Studio</a></li>
                                                                    <li><a href="index-motion-graphic-dark.html">Motion Graphics</a></li>
                                                                    <li><a href="index-shop-dark.html">Agency Shop</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <div class="tp-megamenu-box">
                                                                <div class="tp-megamenu-title-wrap">
                                                                    <span class="tp-megamenu-title">All Showcase</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="portfolio-mix-slicer.html">Mix Slicer</a></li>
                                                                    <li><a href="portfolio-creative-skew-slider.html">Creative Skew</a></li>
                                                                    <li><a href="portfolio-creative-thumb-slider.html">Creative Thumb</a></li>
                                                                    <li><a href="portfolio-revealing-slider.html">Revealing Slider</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="#">Page</a>
                                                <div class="tp-submenu submenu tp-megamenu">
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            <div class="tp-megamenu-box">
                                                                <div class="tp-megamenu-title-wrap">
                                                                    <span class="tp-megamenu-title">Special Pages</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="about-me-dark.html">About Me</a></li>
                                                                    <li><a href="about-us-dark.html">About Us</a></li>
                                                                    <li><a href="service-dark.html">Service</a></li>
                                                                    <li><a href="service-2-dark.html">Service Two</a></li>
                                                                    <li><a href="service-details-dark.html">Service Details</a></li>
                                                                    <li><a href="faq-dark.html">Faq</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <div class="tp-megamenu-box">
                                                                <div class="tp-megamenu-title-wrap">
                                                                    <span class="tp-megamenu-title">Special Pages</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="team-dark.html">Team</a></li>
                                                                    <li><a href="team-details-dark.html">Team Details</a></li>
                                                                    <li><a href="pricing-dark.html">Pricing</a></li>
                                                                    <li><a href="login-dark.html">Login</a></li>
                                                                    <li><a href="register-dark.html">Register</a></li>
                                                                    <li><a href="forgot-dark.html">Forgot</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <div class="tp-megamenu-box">
                                                                <div class="tp-megamenu-title-wrap">
                                                                    <span class="tp-megamenu-title">Special Pages</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="career-dark.html">Career</a></li>
                                                                    <li><a href="career-details-dark.html">Career Details</a></li>
                                                                    <li><a href="job-application-form-dark.html">Application Form</a></li>
                                                                    <li><a href="profile-dark.html">Profile</a></li>
                                                                    <li><a href="error-dark.html">404 Page</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="portfolio-dark.html">Porject</a>
                                                <ul class="tp-submenu submenu">
                                                    <li><a href="portfolio-dark.html">Portfolio</a></li>
                                                    <li><a href="portfolio-2-dark.html">Portfolio Two</a></li>
                                                    <li><a href="portfolio-3-dark.html">Portfolio Three</a></li>
                                                    <li><a href="portfolio-4-dark.html">Portfolio Four</a></li>
                                                    <li><a href="portfolio-col-3-dark.html">Three Columns</a></li>
                                                    <li><a href="portfolio-col-4-dark.html">Four Columns</a></li>
                                                    <li><a href="portfolio-details-gallery-dark.html">Gallery</a></li>
                                                    <li><a href="portfolio-details-dark.html">Modern</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="shop-dark.html">Shop</a>
                                                <ul class="tp-submenu submenu">
                                                    <li><a href="shop-dark.html">Shop</a></li>
                                                    <li><a href="shop-details-dark.html">Shop Details</a></li>
                                                    <li><a href="cart-dark.html">Cart</a></li>
                                                    <li><a href="checkout-dark.html">Checkout</a></li>
                                                    <li><a href="wishlist-dark.html">Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="blog-dark.html">News</a>
                                                <ul class="tp-submenu submenu">
                                                    <li><a href="blog-dark.html">Blog</a></li>
                                                    <li><a href="blog-list-dark.html">Blog List</a></li>
                                                    <li><a href="blog-grid-with-sidebar-dark.html">Blog Grid Sidebar</a></li>
                                                    <li><a href="blog-standard-dark.html">Blog Standard</a></li>
                                                    <li><a href="blog-details-dark.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="contact-us-dark.html">Contact</a>
                                                <ul class="tp-submenu submenu">
                                                    <li><a href="contact-me-dark.html">Contact Me</a></li>
                                                    <li><a href="contact-us-dark.html">Contact Us</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-4 offset-xxl-1">
                            <div class="pp-header-btn ml-60 mb-20">
                                <a class="tp-btn pp-btn-nobg text-uppercase" href="contact-me-dark.html">
                                    <span>
                                        <span class="text-1">Start A Project</span>
                                        <span class="text-2">Start A Project</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                            <div class="pp-header-social mb-20">
                                <a class="tp-btn pp-btn-nobg text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">Facebook</span>
                                        <span class="text-2">Facebook</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                                <a class="tp-btn pp-btn-nobg text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">LinkedIn</span>
                                        <span class="text-2">LinkedIn</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                                <a class="tp-btn pp-btn-nobg text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">Twitter</span>
                                        <span class="text-2">Twitter</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                  fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- sticky-menu-area -->
        <button id="header-sticky" class="hamburger-open-btn tp-header-sidebar-btn hamburger-sticky-menu">
            <span></span>
            <span></span>
        </button>
        <!-- sticky-menu-end -->

    </header>

    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <!-- about-me-area-start -->
                <div class="about-me-area about-me-spacing">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="tp-about-subtitle-wrap mb-30">
                                    <span class="tp-about-subtitle tp_fade_anim" data-delay=".3">
                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1V13.8182H20.7232" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" />
                                            <path d="M23 13.8182L15.0349 19.1718L15.0349 8.46456L23 13.8182Z" fill="currentColor" />
                                        </svg>
                                        About Us
                                    </span>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-8 col-lg-10">
                                <div class="pp-about-content">
                                    <h2 class="pp-about-title mb-30 tp_fade_anim" data-delay=".4">
                                        I’m cunnet a self though & self learned
                                        designer based in USA. I started as a financial
                                        planner & social media marketer, but now I do
                                        mix of everything from product design
                                        photography web design
                                    </h2>
                                    <div class="pp-about-dec-wrap">
                                        <div class="tp_fade_anim" data-delay=".5">
                                            <p class="pp-about-dec mb-50">
                                                Today, I specialize in a wide range of disciplines,
                                                including product design, web design, and photography.
                                                I believe in creating purposeful designs that not only look beautiful but also deliver
                                                value. Every project I take on
                                                is an opportunity to experiment, learn and push boundaries—whether it’s building
                                                user-friendly websites, crafting
                                                compelling brand visuals, or capturing powerful product photography.
                                            </p>
                                        </div>
                                        <div class="pp-about-btn d-flex flex-wrap gap-3">
                                            <a href="assets/img/cv/mycv.docx" class="tp-btn pp-btn-download">
                                                <span>
                                                    <span class="text-1">Download CV</span>
                                                    <span class="text-2">Download CV</span>
                                                </span>
                                                <svg width="12" height="15" viewBox="0 0 12 15" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.27295 0.75C6.27295 0.335787 5.93716 1.07513e-07 5.52295 8.9407e-08C5.10874 7.13011e-08 4.77295 0.335786 4.77295 0.75L5.52295 0.75L6.27295 0.75ZM4.99262 14.2734C5.28551 14.5663 5.76039 14.5663 6.05328 14.2734L10.8262 9.50045C11.1191 9.20755 11.1191 8.73268 10.8262 8.43979C10.5334 8.14689 10.0585 8.14689 9.76559 8.43979L5.52295 12.6824L1.28031 8.43979C0.987416 8.14689 0.512542 8.14689 0.219649 8.43979C-0.0732447 8.73268 -0.0732448 9.20755 0.219649 9.50045L4.99262 14.2734ZM5.52295 0.75L4.77295 0.75L4.77295 13.7431L5.52295 13.7431L6.27295 13.7431L6.27295 0.75L5.52295 0.75Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-me-area-end -->
                <!-- about-me-slider-start -->
                <div class="about-me-slider-area pt-120 p-relative">
                    <div class="about-me-slider-awards">
                        <div class="mp-hero-awards mg-hero-awards pp-about-awards mb-40 p-relative d-inline-block">
                            <img class="rotate-infinite" src="assets/img/hero/mg/text.png" alt="award">
                            <img class="mp-hero-w-logo" src="assets/img/hero/mg/shap.png" alt="">
                        </div>
                    </div>
                    <div class="swiper about-me-slider-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about-me-slider-thumb tp-item-anime marque">
                                    <img class="w-100" src="assets/img/about/me/thumb.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-me-slider-thumb tp-item-anime marque">
                                    <img class="w-100" src="assets/img/about/me/thumb-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-me-slider-thumb tp-item-anime marque">
                                    <img class="w-100" src="assets/img/about/me/thumb-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-me-slider-end -->
                <!-- about-me-resume-area-start -->
                <div class="about-me-resume-area pt-115">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="tp-about-subtitle-wrap mb-20 mt-15">
                                    <span class="tp-about-subtitle text-uppercase">
                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1V13.8182H20.7232" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" />
                                            <path d="M23 13.8182L15.0349 19.1718L15.0349 8.46456L23 13.8182Z" fill="currentColor" />
                                        </svg>
                                        resume
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="about-me-resume-content mb-20">
                                    <h2 class="about-me-resume-maintitle text-uppercase reveal-text">The digital<br> journey</h2>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="about-me-subtitle-wrap d-flex justify-content-lg-end align-items-end h-100">
                                    <span class="tp-about-subtitle text-uppercase mb-30">[ My Education ]</span>
                                </div>
                            </div>
                            <div class="col-xl-10 offset-xl-2">
                                <div class="about-me-resume-wrap mt-40">
                                    <div class="about-me-resume-item tp_fade_anim" data-delay=".3">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="about-me-resume-date mb-30">
                                                    <span>2015 - 2018</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-info ml-40 mb-30">
                                                    <h3 class="about-me-resume-title tp-ff-inter">Bachelor’s in Graphic Design</h3>
                                                    <span class="about-me-resume-location">New York School of Visual Arts</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-dec ml-50 mb-30">
                                                    <p>
                                                        Gained strong foundations in design theory typography, and visual
                                                        communication.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-me-resume-item tp_fade_anim" data-delay=".4">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="about-me-resume-date mb-30">
                                                    <span>2019 - 2021</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-info ml-40 mb-30">
                                                    <h3 class="about-me-resume-title tp-ff-inter">Diploma in Motion Graphics</h3>
                                                    <span class="about-me-resume-location">Los Angeles Creative Institute</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-dec ml-50 mb-30">
                                                    <p>
                                                        Gained strong foundations in design theory typography, and visual
                                                        communication.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-me-resume-item tp_fade_anim" data-delay=".5">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="about-me-resume-date mb-30">
                                                    <span>2022 - 2024</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-info ml-40 mb-30">
                                                    <h3 class="about-me-resume-title tp-ff-inter">UI/UX Design Certification</h3>
                                                    <span class="about-me-resume-location">San Francisco Design Academy</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-dec ml-50 mb-30">
                                                    <p>
                                                        Gained strong foundations in design theory typography, and visual
                                                        communication.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-me-resume-area-end -->
                <!-- tp-skill-area-start -->
                <div class="tp-skill-area pt-160">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="tp-skill-item d-flex flex-column mb-25 align-items-center tp_fade_anim" data-delay=".3">
                                    <div class="tp-skill-icon mb-20">
                                        <img src="assets/img/skil/photoshop.png" alt="">
                                    </div>
                                    <span class="tp-skill-text">Photoshop</span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="tp-skill-item d-flex flex-column mb-25 align-items-center tp_fade_anim" data-delay=".4">
                                    <div class="tp-skill-icon mb-20">
                                        <img src="assets/img/skil/figma.png" alt="">
                                    </div>
                                    <span class="tp-skill-text">Figma</span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="tp-skill-item d-flex flex-column mb-25 align-items-center tp_fade_anim" data-delay=".5">
                                    <div class="tp-skill-icon mb-20">
                                        <img src="assets/img/skil/adobe.png" alt="">
                                    </div>
                                    <span class="tp-skill-text">Adobe XD</span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="tp-skill-item d-flex flex-column mb-25 align-items-center tp_fade_anim" data-delay=".6">
                                    <div class="tp-skill-icon mb-20">
                                        <img src="assets/img/skil/sketch.png" alt="">
                                    </div>
                                    <span class="tp-skill-text">Sketch</span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="tp-skill-item d-flex flex-column mb-25 align-items-center tp_fade_anim" data-delay=".7">
                                    <div class="tp-skill-icon mb-20">
                                        <img src="assets/img/skil/html.png" alt="">
                                    </div>
                                    <span class="tp-skill-text">HTML</span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="tp-skill-item d-flex flex-column mb-25 align-items-center tp_fade_anim" data-delay=".8">
                                    <div class="tp-skill-icon mb-20">
                                        <img src="assets/img/skil/js.png" alt="">
                                    </div>
                                    <span class="tp-skill-text">JavaScript</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tp-skill-area-end -->
                <!-- about-me-resume-area-start -->
                <div class="about-me-resume-area pt-115">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="tp-about-subtitle-wrap mb-20 mt-15">
                                    <span class="tp-about-subtitle text-uppercase">
                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1V13.8182H20.7232" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" />
                                            <path d="M23 13.8182L15.0349 19.1718L15.0349 8.46456L23 13.8182Z" fill="currentColor" />
                                        </svg>
                                        resume
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="about-me-resume-content mb-20">
                                    <h2 class="about-me-resume-maintitle text-uppercase reveal-text">
                                        Experience <br> Digital
                                        Evolution
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="about-me-subtitle-wrap d-flex justify-content-lg-end align-items-lg-end h-100">
                                    <span class="tp-about-subtitle text-uppercase mb-30">[ My Education ]</span>
                                </div>
                            </div>
                            <div class="col-xl-10 offset-xl-2">
                                <div class="about-me-resume-wrap mt-40">
                                    <div class="about-me-resume-item tp_fade_anim" data-delay=".3">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="about-me-resume-date mb-30">
                                                    <span>2015 - 2018</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-info ml-40 mb-30">
                                                    <h3 class="about-me-resume-title tp-ff-inter">Expert in Web & Mobile Design</h3>
                                                    <span class="about-me-resume-location">New York School of Visual Arts</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-dec ml-50 mb-30">
                                                    <p>
                                                        Gained strong foundations in design theory typography, and visual
                                                        communication.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-me-resume-item tp_fade_anim" data-delay=".4">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="about-me-resume-date mb-30">
                                                    <span>2019 - 2021</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-info ml-40 mb-30">
                                                    <h3 class="about-me-resume-title tp-ff-inter">Proficient with Adobe & Figma</h3>
                                                    <span class="about-me-resume-location">Los Angeles Creative Institute</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-dec ml-50 mb-30">
                                                    <p>
                                                        Gained strong foundations in design theory typography, and visual
                                                        communication.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-me-resume-item tp_fade_anim" data-delay=".5">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="about-me-resume-date mb-30">
                                                    <span>2022 - 2024</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-info ml-40 mb-30">
                                                    <h3 class="about-me-resume-title tp-ff-inter">Strong Visual Communicationn</h3>
                                                    <span class="about-me-resume-location">San Francisco Design Academy</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="about-me-resume-dec ml-50 mb-30">
                                                    <p>
                                                        Gained strong foundations in design theory typography, and visual
                                                        communication.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-me-resume-area-end -->
                <!-- tp-testimonial-area-start -->
                <div class="tp-testimonial-area pt-160 pb-130">
                    <div class="tp-testimonial-text-slide pb-70">
                        <div class="swiper tp-testimonial-text-slide-active">
                            <div class="swiper-wrapper slide-transtion">
                                <div class="swiper-slide">
                                    <div class="tp-testimonial-text">
                                        <h2 class="tp-testimonial-text-title fw-600 mb-0 tp-ff-inter text-uppercase">
                                            Our Testimonial
                                            <span>
                                                <svg class="rotate-infinite-2" width="101" height="100" viewBox="0 0 101 100"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M101 54.2935L74.6318 57.6939L94.1329 75.7004L68.8956 67.367L78.6156 92.0118L59.5119 73.5993L57.5353 100L48.3451 75.1523L35.0591 98.0918L37.6063 71.7316L15.6498 86.6626L29.4146 64.0073L3.12791 67.9659L25.4003 53.512L0 45.7166L26.358 42.3163L6.86714 24.3098L32.1044 32.6431L22.3844 7.99838L41.4881 26.4109L43.4647 0L52.6549 24.8477L65.9307 1.90824L63.3937 28.2684L85.3503 13.3475L71.5854 35.9927L97.8619 32.0341L75.5997 46.4982L101 54.2935Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-testimonial-text">
                                        <h2 class="tp-testimonial-text-title fw-600 mb-0 tp-ff-inter text-uppercase">
                                            Our Testimonial
                                            <span>
                                                <svg class="rotate-infinite-2" width="101" height="100" viewBox="0 0 101 100"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M101 54.2935L74.6318 57.6939L94.1329 75.7004L68.8956 67.367L78.6156 92.0118L59.5119 73.5993L57.5353 100L48.3451 75.1523L35.0591 98.0918L37.6063 71.7316L15.6498 86.6626L29.4146 64.0073L3.12791 67.9659L25.4003 53.512L0 45.7166L26.358 42.3163L6.86714 24.3098L32.1044 32.6431L22.3844 7.99838L41.4881 26.4109L43.4647 0L52.6549 24.8477L65.9307 1.90824L63.3937 28.2684L85.3503 13.3475L71.5854 35.9927L97.8619 32.0341L75.5997 46.4982L101 54.2935Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-testimonial-text">
                                        <h2 class="tp-testimonial-text-title fw-600 mb-0 tp-ff-inter text-uppercase">
                                            Our Testimonial
                                            <span>
                                                <svg class="rotate-infinite-2" width="101" height="100" viewBox="0 0 101 100"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M101 54.2935L74.6318 57.6939L94.1329 75.7004L68.8956 67.367L78.6156 92.0118L59.5119 73.5993L57.5353 100L48.3451 75.1523L35.0591 98.0918L37.6063 71.7316L15.6498 86.6626L29.4146 64.0073L3.12791 67.9659L25.4003 53.512L0 45.7166L26.358 42.3163L6.86714 24.3098L32.1044 32.6431L22.3844 7.99838L41.4881 26.4109L43.4647 0L52.6549 24.8477L65.9307 1.90824L63.3937 28.2684L85.3503 13.3475L71.5854 35.9927L97.8619 32.0341L75.5997 46.4982L101 54.2935Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-testimonial-text">
                                        <h2 class="tp-testimonial-text-title fw-600 mb-0 tp-ff-inter text-uppercase">
                                            Our Testimonial
                                            <span>
                                                <svg class="rotate-infinite-2" width="101" height="100" viewBox="0 0 101 100"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M101 54.2935L74.6318 57.6939L94.1329 75.7004L68.8956 67.367L78.6156 92.0118L59.5119 73.5993L57.5353 100L48.3451 75.1523L35.0591 98.0918L37.6063 71.7316L15.6498 86.6626L29.4146 64.0073L3.12791 67.9659L25.4003 53.512L0 45.7166L26.358 42.3163L6.86714 24.3098L32.1044 32.6431L22.3844 7.99838L41.4881 26.4109L43.4647 0L52.6549 24.8477L65.9307 1.90824L63.3937 28.2684L85.3503 13.3475L71.5854 35.9927L97.8619 32.0341L75.5997 46.4982L101 54.2935Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-testimonial-text">
                                        <h2 class="tp-testimonial-text-title fw-600 mb-0 tp-ff-inter text-uppercase">
                                            Our Testimonial
                                            <span>
                                                <svg class="rotate-infinite-2" width="101" height="100" viewBox="0 0 101 100"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M101 54.2935L74.6318 57.6939L94.1329 75.7004L68.8956 67.367L78.6156 92.0118L59.5119 73.5993L57.5353 100L48.3451 75.1523L35.0591 98.0918L37.6063 71.7316L15.6498 86.6626L29.4146 64.0073L3.12791 67.9659L25.4003 53.512L0 45.7166L26.358 42.3163L6.86714 24.3098L32.1044 32.6431L22.3844 7.99838L41.4881 26.4109L43.4647 0L52.6549 24.8477L65.9307 1.90824L63.3937 28.2684L85.3503 13.3475L71.5854 35.9927L97.8619 32.0341L75.5997 46.4982L101 54.2935Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-testimonial-text">
                                        <h2 class="tp-testimonial-text-title fw-600 mb-0 tp-ff-inter text-uppercase">
                                            Our Testimonial
                                            <span>
                                                <svg class="rotate-infinite-2" width="101" height="100" viewBox="0 0 101 100"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M101 54.2935L74.6318 57.6939L94.1329 75.7004L68.8956 67.367L78.6156 92.0118L59.5119 73.5993L57.5353 100L48.3451 75.1523L35.0591 98.0918L37.6063 71.7316L15.6498 86.6626L29.4146 64.0073L3.12791 67.9659L25.4003 53.512L0 45.7166L26.358 42.3163L6.86714 24.3098L32.1044 32.6431L22.3844 7.99838L41.4881 26.4109L43.4647 0L52.6549 24.8477L65.9307 1.90824L63.3937 28.2684L85.3503 13.3475L71.5854 35.9927L97.8619 32.0341L75.5997 46.4982L101 54.2935Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="text-center">
                                    <div class="mp-hero-awards mb-50 p-relative d-inline-block">
                                        <img class="rotate-infinite" src="assets/img/testimonial/shop/text%c3%82%c2%b7png.html" alt="award">
                                        <img class="mp-hero-w-logo" src="assets/img/testimonial/shop/qoute.png" alt="">
                                    </div>
                                    <div class="shop-testimonial-slider-wrap p-relative mb-30">
                                        <div class="swiper shop-testimonial-slider-active">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="shop-testimonial-item text-center">
                                                        <h4 class="shop-testimonial-comment tp-ff-jost fw-500 mb-30">
                                                            “Furniture
                                                            inspired by our land & clear
                                                            resources lines that reflect patient
                                                            & mastered gesture.”
                                                        </h4>
                                                        <span class="shop-testimonial-name fw-500 mb-40 d-block">
                                                            Jessica
                                                            Lindstrom
                                                        </span>
                                                        <div class="shop-testimonial-brand-name">
                                                            <b class="fw-500">LUXE</b>
                                                            <span class="d-block">Digital</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="shop-testimonial-item text-center">
                                                        <h4 class="shop-testimonial-comment tp-ff-jost fw-500 mb-30">
                                                            “Furniture
                                                            inspired by our land & clear
                                                            resources lines that reflect patient
                                                            & mastered gesture.”
                                                        </h4>
                                                        <span class="shop-testimonial-name fw-500 mb-40 d-block">Papaya</span>
                                                        <div class="shop-testimonial-brand-name">
                                                            <b class="fw-500">LUXE</b>
                                                            <span class="d-block">Digital</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="shop-testimonial-item text-center">
                                                        <h4 class="shop-testimonial-comment tp-ff-jost fw-500 mb-30">
                                                            “Furniture
                                                            inspired by our land & clear
                                                            resources lines that reflect patient
                                                            & mastered gesture.”
                                                        </h4>
                                                        <span class="shop-testimonial-name fw-500 mb-40 d-block">Himalaya Nourishing</span>
                                                        <div class="shop-testimonial-brand-name">
                                                            <b class="fw-500">LUXE</b>
                                                            <span class="d-block">Digital</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-testimonial-navigation">
                                            <span class="shop-testimonial-arrow-prev"><i class="fa-solid fa-arrow-left"></i></span>
                                            <span class="shop-testimonial-arrow-next">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tp-testimonial-area-end -->
                <!-- tp-banner-area-start -->
                <div class="tp-banner-about-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tp-banner-about fix scale-up-img">
                                    <img data-speed="0.4" class="img-cover scale-up" src="assets/img/banner/thumb-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tp-banner-area-end -->
                <!-- cs-blog-thumb-area-start -->
                <div class="cs-blog-thumb-area pt-155 pb-115">
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="col-lg-9">
                                <div class="cs-blog-title-wrap mb-60">
                                    <span class="tp-about-subtitle text-uppercase mb-10 d-inline-block">[ Our Blog ]</span>
                                    <h2 class="about-me-resume-maintitle text-uppercase reveal-text">Related Articles</h2>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cs-blog-btn-wrap text-lg-end mb-80 tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                    <a class="tp-btn tp-ff-inter text-uppercase" href="blog-dark.html">
                                        <span>
                                            <span class="text-1">all Articles</span>
                                            <span class="text-2">all Articles</span>
                                        </span>
                                        <i>
                                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                      fill="currentColor" />
                                            </svg>
                                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                                      fill="currentColor" />
                                            </svg>
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="cs-blog-item cs-blog-item-2 mb-40 tp_fade_anim" data-delay=".4" data-fade-from="left" data-ease="bounce">
                                    <div class="cs-blog-thumb fix p-relative mb-35">
                                        <img class="w-100" src="assets/img/blog/cs/thumb-4.jpg" alt="">
                                        <a href="#" class="cs-blog-tag">Branding</a>
                                    </div>
                                    <h4 class="cs-blog-title tp-ff-sequel-semi-bold">
                                        <a href="blog-details-dark.html" class="common-underline">Your marketplace dreams <br> we shape them.</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="cs-blog-item cs-blog-item-2 mb-40 tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                    <div class="cs-blog-thumb fix p-relative mb-35">
                                        <img class="w-100" src="assets/img/blog/cs/thumb-5.jpg" alt="">
                                        <a href="#" class="cs-blog-tag">Web Design</a>
                                    </div>
                                    <h4 class="cs-blog-title tp-ff-sequel-semi-bold">
                                        <a href="blog-details-dark.html" class="common-underline">Where design meets your platform becomes.</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="cs-blog-item cs-blog-item-2 mb-40 tp_fade_anim" data-delay=".4" data-fade-from="right" data-ease="bounce">
                                    <div class="cs-blog-thumb fix p-relative mb-35">
                                        <img class="w-100" src="assets/img/blog/cs/thumb-6.jpg" alt="">
                                        <a href="#" class="cs-blog-tag">Development</a>
                                    </div>
                                    <h4 class="cs-blog-title tp-ff-sequel-semi-bold">
                                        <a href="blog-details-dark.html" class="common-underline">This isn’t just design design makes reimagined.</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cs-blog-thumb-area-end -->

            </main>

            <footer>
                <!-- footer area start -->
                <div class="tp-footer-area pt-100 p-relative z-index-1" data-bg-color="#1e1e1e">
                    <img class="mg-footer-noice" src="assets/img/footer/noise.png" alt="">
                    <div class="container-fluid container-1886">
                        <div class="row align-items-end">
                            <div class="col-xl-5">
                                <div class="mg-footer-widget mb-25 tp_fade_anim" data-delay=".3">
                                    <h2 class="tp-section-title tp-ff-inter fw-600 text-white">Helping start-<br> ups scale & grow.</h2>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-7">
                                <div class="mg-footer-widget mb-20 ml-85 tp_fade_anim" data-delay=".4">
                                    <h4 class="mg-footer-email tp-footer-email fs-82 fw-600 text-decoration-none tp-ff-inter">
                                        <a href="mailto:hello@cunnet.com">
                                            hello@cunnet.com
                                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.585787 21.5858C-0.195262 22.3668 -0.195262 23.6332 0.585787 24.4142C1.36684 25.1953 2.63316 25.1953 3.41421 24.4142L2 23L0.585787 21.5858ZM25 2C25 0.89543 24.1046 -6.45736e-07 23 1.97201e-07L5 4.50082e-07C3.89543 -2.24268e-07 3 0.895431 3 2C3 3.10457 3.89543 4 5 4L21 4L21 20C21 21.1046 21.8954 22 23 22C24.1046 22 25 21.1046 25 20L25 2ZM2 23L3.41421 24.4142L24.4142 3.41421L23 2L21.5858 0.585786L0.585787 21.5858L2 23Z"
                                                      fill="currentColor" />
                                            </svg>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="mg-footer-main-style pt-115">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-4 offset-xxl-5 offset-xl-4 col-lg-6 col-md-6">
                                    <div class="mg-footer-widget tp-footer-link mb-30 ml-85 tp_fade_anim" data-delay=".5">
                                        <h5 class="tp-footer-subtitle mg-footer-subtitle text-white mb-25">Quick links</h5>
                                        <div class="tp-hero-social">
                                            <a href="#">About</a>
                                            <a href="#">Who we are</a>
                                            <a href="#">Services</a>
                                            <a href="#">Projects</a>
                                            <a href="#">Blog</a>
                                            <a href="#">Pricing</a>
                                            <a href="#">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 offset-xxl-1 col-lg-6 col-md-6">
                                    <div class="mg-footer-widget mg-footer-info ml-20 mb-30 tp_fade_anim" data-delay=".6">
                                        <h5 class="tp-footer-subtitle mg-footer-subtitle text-white mb-20">Contact</h5>
                                        <a class="mg-footer-phone mb-10" href="tel:+1235678901">+ 123 567 8901</a>
                                        <a class="mg-footer-phone" href="#">4517 Washington Ave. Manchester,<br> Kentucky 39495</a>
                                        <div class="tp-offcanvas-social">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M1.57727 6.58333C0.892842 6.58333 0.75 6.71763 0.75 7.36111V8.52778C0.75 9.17126 0.892842 9.30556 1.57727 9.30556H3.23182V13.9722C3.23182 14.6157 3.37466 14.75 4.05909 14.75H5.71364C6.39807 14.75 6.54091 14.6157 6.54091 13.9722V9.30556H8.39871C8.9178 9.30556 9.05155 9.2107 9.19416 8.74145L9.5487 7.57478C9.79298 6.77095 9.64246 6.58333 8.75326 6.58333H6.54091V4.63889C6.54091 4.20933 6.91129 3.86111 7.36818 3.86111H9.72273C10.4072 3.86111 10.55 3.72681 10.55 3.08333V1.52778C10.55 0.884296 10.4072 0.75 9.72273 0.75H7.36818C5.08373 0.75 3.23182 2.49111 3.23182 4.63889V6.58333H1.57727Z"
                                                                  stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M4.41177 0H0L5.23083 6.87316L0.334618 12.6389H2.59681L6.29998 8.27809L9.58823 12.5988H14L8.6172 5.52593L8.62673 5.53813L13.2614 0.0802914H10.9992L7.55741 4.13336L4.41177 0ZM2.43522 1.20371H3.80866L11.5648 11.395H10.1913L2.43522 1.20371Z"
                                                                  fill="currentColor" />
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="8.74983" cy="8.74983" r="7.99983" stroke="currentColor"
                                                                    stroke-width="1.5" />
                                                            <path d="M16.7489 9.76131C16.0075 9.62227 15.2449 9.5498 14.4668 9.5498C10.185 9.5498 6.37665 11.7438 3.94922 15.1497"
                                                                  stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                                            <path d="M14.3497 3.14941C11.8462 6.08329 8.08416 7.94931 3.87763 7.94931C2.80145 7.94931 1.75436 7.82718 0.75 7.59627"
                                                                  stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                                            <path d="M10.8441 16.7505C11.0446 15.7793 11.1499 14.7735 11.1499 13.7431C11.1499 8.69036 8.61738 4.22788 4.75 1.55078"
                                                                  stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.75 7.75C0.75 4.45017 0.75 2.80025 1.77513 1.77513C2.80025 0.75 4.45017 0.75 7.75 0.75C11.0498 0.75 12.6997 0.75 13.7249 1.77513C14.75 2.80025 14.75 4.45017 14.75 7.75C14.75 11.0498 14.75 12.6997 13.7249 13.7249C12.6997 14.75 11.0498 14.75 7.75 14.75C4.45017 14.75 2.80025 14.75 1.77513 13.7249C0.75 12.6997 0.75 11.0498 0.75 7.75Z"
                                                                  stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                                            <path d="M11.0691 7.75134C11.0691 9.5826 9.58455 11.0671 7.75329 11.0671C5.92203 11.0671 4.4375 9.5826 4.4375 7.75134C4.4375 5.92008 5.92203 4.43555 7.75329 4.43555C9.58455 4.43555 11.0691 5.92008 11.0691 7.75134Z"
                                                                  stroke="currentColor" stroke-width="1.5" />
                                                            <path d="M11.8086 3.69727L11.7996 3.69727" stroke="currentColor"
                                                                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-footer-copyright-area p-relative z-index-1 mg-footer-copyright-style pt-30 mt-55 pb-10">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-lg-5">
                                    <div class="tp-footer-copyright-wrap mb-20">
                                        <span class="tp-footer-copyright text-white">©<span class="update-year"></span> Cunnet Design Studio.</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="tp-footer-copyright-wrap text-lg-end mb-20">
                                        <a href="#" class="tp-footer-copyright mr-120">Terms and Conditions</a>
                                        <a href="#" class="tp-footer-copyright">Privacy Policy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mg-footer-bigtext-wrap no-animrtion text-center tp_fade_anim" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                        <h2 class="mg-footer-bigtext tp-ff-sequel-bold-head text-uppercase">Cunnet</h2>
                    </div>
                </div>
                <!-- footer area end -->
            </footer>

        </div>
    </div>


    <!-- JS here -->
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugin.js"></script>
    <script src="assets/js/split-type.js"></script>
    <script src="assets/js/three.js"></script>
    <script src="assets/js/hover-effect.umd.js"></script>
    <script src="assets/js/swiper-bundle.js"></script>
    <script src="assets/js/magnific-popup.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/purecounter.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/slider-init.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tp-cursor.js"></script>

</body>

</html>