@page
@{
}
<style>
    html {
        color-scheme: dark;
    }

    body {
        background-color: #121212 !important;
        color: white !important;
    }

    .cs-blog-item {
        background-color: #1e1e1e;
        border: 1px solid #333;
        border-radius: 8px;
        padding: 15px;
    }
</style>
<br>
<br>
<br>
<main>
    <br>
    <br>
    <!-- blog standard hero area start -->
    <div class="blog-standard-area tp-pd-2-ptb pt-175 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="jump-anim text-center">
                        <h3 class="tp-pd-3-title fs-186 tp-ff-sequel-bold-head text-uppercase lh-1 tp_fade_anim"
                            data-delay=".5">The Core Insight</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio standard hero area end -->
    <br>
    <br>

    <!-- blog-masonary-area-start -->
    <div class="tp-blog-masonary-area tp-animate-tab pb-160">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-7">
                    <div class="tp-blog-masonary-content">
                        <div class="row gx-60">
                            <!-- Post 1 (New, specified as first) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7374772659135508480?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 2 (Original first from previous turn) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7414299394688069632"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 3 (Original second from previous turn) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7412536302862032896?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 4 (Second provided in this turn) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7410288956321411072?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 5 (Third provided in this turn) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7391693034414923776?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 6 (Fourth provided in this turn) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7360915212436189185?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 7 (Fifth provided in this turn) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7347190802143432704?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                            <!-- Post 8 (Generated from raw link) -->
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="cs-blog-item mb-70">
                                    <iframe
                                        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7300560629990326272?collapsed=1"
                                        height="600" width="100%" frameborder="0" allowfullscreen=""
                                        title="Embedded post"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-5">
                    <div class="sidebar-blog-grid-wrap mb-40 ml-115">
                        <div class="sidebar-wrapper">
                            <div class="sidebar-widget mb-10">
                                <div class="sidebar-search">
                                    <form id="google-combined-search">
                                        <div class="sidebar-search-input">
                                            <input type="text" placeholder="Search on Google about me...">
                                            <button type="submit">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M18.9999 19L14.6499 14.65M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z"
                                                        stroke="currentcolor" stroke-opacity="0.8" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget mb-45">
                                <div class="sidebar-widget-author">
                                    <div class="sidebar-widget-author-img d-flex align-items-center">
                                        <img src="~/img/blog/blog-standard/av-1.png" alt="">
                                        <div class="sidebar-widget-author-content">
                                            <h4 class="sidebar-widget-author-name mb-0">Abu Huraira</h4>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget-author-content">
                                        <p>Crafting Digital Experiences <br> with Purpose!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget mb-45">
                                <h3 class="sidebar-widget-title">Featured Posts</h3>
                                <div class="rc-post-wrap">
                                    <div class="rc-post d-flex align-items-center">
                                        <div class="rc-post-thumb">
                                            <a href="/Portfolio/Nexus">
                                                <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770978103/Nexus-laptop-3_nwfuck.jpg"
                                                    alt="Nexus Project">
                                            </a>
                                        </div>
                                        <div class="rc-post-content">
                                            <div class="rc-post-category">
                                                <a href="/Portfolio/Nexus">SaaS Project</a>
                                            </div>
                                            <h3 class="rc-post-title">
                                                <a href="/Portfolio/Nexus" class="common-underline">Nexus: A Social
                                                    Media Hub</a>
                                            </h3>
                                            <div class="rc-post-meta">
                                                <span>Full-Stack Development</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rc-post d-flex align-items-center">
                                        <div class="rc-post-thumb">
                                            <a href="/Portfolio/Talksphere">
                                                <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770977753/talksphere-mac-mockup-jpg-optimized_fy5rse.webp"
                                                    alt="Talk Sphere Project">
                                            </a>
                                        </div>
                                        <div class="rc-post-content">
                                            <div class="rc-post-category">
                                                <a href="/Portfolio/Talksphere">College Project</a>
                                            </div>
                                            <h3 class="rc-post-title">
                                                <a href="/Portfolio/Talksphere" class="common-underline">Talk Sphere:
                                                    Real-Time Chat</a>
                                            </h3>
                                            <div class="rc-post-meta">
                                                <span>Full-Stack Development</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rc-post d-flex align-items-center">
                                        <div class="rc-post-thumb">
                                            <a href="/Portfolio/Chromaic">
                                                <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770978149/01-Tote_Bag_Mockup-jpg_tclwk5.jpg"
                                                    alt="Chromaic Project">
                                            </a>
                                        </div>
                                        <div class="rc-post-content">
                                            <div class="rc-post-category">
                                                <a href="/Portfolio/Chromaic">Personal Project</a>
                                            </div>
                                            <h3 class="rc-post-title">
                                                <a href="/Portfolio/Chromaic" class="common-underline">Chromaic:
                                                    E-commerce Store</a>
                                            </h3>
                                            <div class="rc-post-meta">
                                                <span>Full-Stack Development</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="basic-pagination-wrap">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="basic-pagination mb-0">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="blog-grid-with-sidebar.html">
                                                    <i class="fa-regular fa-angle-left"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <span class="current">1</span>
                                            </li>
                                            <li>
                                                <a href="blog-grid-with-sidebar.html">
                                                    <i class="fa-regular fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-masonary-area-end -->


    <script>
        document.getElementById('google-combined-search').addEventListener('submit', function (event) {
            event.preventDefault();
            const searchTerm = this.querySelector('input').value;
            const url = `https://www.google.com/search?q=(abuhurairajamal+OR+site%3Agithub.com%2Fabuhuraira-73%2F)+%22${encodeURIComponent(searchTerm)}%22`;
            window.open(url, '_blank');
        });
    </script>
</main>