@model VS_portfolio_2026.Models.ContactInputModel
@{
}


<br />
<br />
<br />
<main>
    <br />

    <!-- tp-contact-me-area-start -->
    <div class="tp-contact-me-area tp-pd-2-ptb pt-175 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="tp-contact-me-title-wrap mb-30">
                        <h3 class="tp-section-title tp-ff-sequel-semi-bold fs-72 tp_fade_anim mb-20" data-delay=".3">
                            Contact Me for Your <br> Next Project.</h3>
                        <div class="tp-pd-2-categories tp_fade_anim" data-delay=".5">
                            <span>Website</span>
                            <span>Contact</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="tp-contact-me-form mb-30">
                        <form id="contact-form" action="@Url.Action("Submit", "Contact")">
                            @Html.AntiForgeryToken()
                            <h4 class="tp-contact-me-title tp-ff-sequel-semi-bold mb-25">Connect with Me...</h4>
                            <input class="tp-input mb-15" name="Name" type="text" placeholder="Name*" required>
                            <input class="tp-input mb-15" name="Email" type="email" placeholder="Your Email*" required>
                            <input class="tp-input mb-15" name="Subject" type="text" placeholder="Company Name">
                            <input class="tp-input mb-45" name="website" type="text" placeholder="Company Website">
                            <h4 class="tp-contact-me-title tp-ff-sequel-semi-bold mb-25">I'm Interested in...</h4>
                            @* <div class="tp-contact-me-category mb-45 mr-180">
                            <label for="id1">
                            <input id="id1" type="checkbox" name="branding">
                            <span>Branding</span>
                            </label>
                            <label for="id2">
                            <input id="id2" type="checkbox" name="branding2">
                            <span>Website</span>
                            </label>
                            <label for="id3">
                            <input id="id3" type="checkbox" name="branding3">
                            <span>Softwares</span>
                            </label>
                            <label for="id4">
                            <input id="id4" type="checkbox" name="branding4">
                            <span>Designing</span>
                            </label>
                            <label for="id5">
                            <input id="id5" type="checkbox" name="branding5">
                            <span>Other</span>
                            </label>

                            </div> *@
                            <textarea class="tp-input tp-textarea mb-30" name="Message" placeholder="Message*"
                                required></textarea>
                            <button type="submit" class="tp-btn tp-btn-red tp-btn-xl tp-ff-inter d-inline-block">
                                <span>
                                    <span class="text-1">Submit Message</span>
                                    <span class="text-2">Submit Message</span>
                                </span>
                                <i>
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                            fill="currentColor" />
                                    </svg>
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                            fill="currentColor" />
                                    </svg>
                                </i>
                            </button>
                            <p class="ajax-response mt-20"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tp-contact-me-area-end -->

</main>
