@{
    ViewData["Title"] = "Home Page";
}



    <header>
        <!-- header area start -->
        <div class="tp-header-area tp-header-spacing header-transparent">
            <div class="container">
                <div class="pp-header-top">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 col-12">
                            <div class="pp-header-top-wrap mb-10">
                                <h2 class="pp-header-top-content tp-ff-sequel-semi-bold text-white tp-char-animation"><a href="index-2.html">Abu</a></h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="pp-header-top-logo-wrap d-flex align-items-start justify-content-sm-end justify-content-sm-start ml-55 mb-10">
                                <h2 class="pp-header-top-content tp-ff-sequel-semi-bold text-white tp-char-animation">Huraira</h2>
                                <button class="pp-header-hamburger hamburger-open-btn mt-20 ml-40">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 6H0M6 12L6 0" stroke="currentColor" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pp-header-main mt-15 mb-20">
                    <div class="row align-items-center">
                        <div class="col-xxl-4 col-xl-4 d-none d-xl-block">
                            <div class="pp-main-menu mb-20">
                                <nav>
                                    <ul>
                                        <li><a href="index-dark.html">Home</a></li>
                                        <li><a href="~/Home/About">About</a></li>
                                        <li><a href="blog-dark.html">Blog</a></li>
                                        <li><a href="service-dark.html">Services</a></li>
                                        <li><a href="portfolio-2-dark.html">Portfolio</a></li>
                                        <li><a href="contact-me-dark.html">Contract</a></li>
                                    </ul>
                                </nav>
                                <div class="tp-main-menu d-none">
                                    <nav class="tp-mobile-menu-active">
                                        <ul>
                                            <li>
                                                <a href="index.cshtml">Home</a>
                                            </li>
                                            <li>
                                                <a href="~/Home/About">About</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-dark.html">Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="contact-us-dark.html">Services</a>
                                            </li>
                                            <li>
                                                <a href="contact-us-dark.html">Contact</a>
                                            </li>
                                        </ul>
                                    </nav> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-4 offset-xxl-1">
                            <div class="pp-header-btn ml-60 mb-20">
                                <a class="tp-btn pp-btn-nobg text-uppercase" href="contact-me-dark.html">

                                    @*<span>
                                        <span class="text-1">Start A Project</span>
                                        <span class="text-2">Start A Project</span>
                                    </span>*@

                                    @*<i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                    </i>*@

                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                            <div class="pp-header-social mb-20">
                                <a class="tp-btn tp-btn-white text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">GitHub</span>
                                        <span class="text-2">GitHub</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                                <a class="tp-btn tp-btn-white text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">LinkedIn</span>
                                        <span class="text-2">LinkedIn</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                                <a class="tp-btn tp-btn-white text-uppercase" href="#">
                                    <span>
                                        <span class="text-1">Twitter</span>
                                        <span class="text-2">Twitter</span>
                                    </span>
                                    <i>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- sticky-menu-area -->
        <button id="header-sticky" class="hamburger-open-btn tp-header-sidebar-btn hamburger-sticky-menu">
            <span></span>
            <span></span>
        </button>
        <!-- sticky-menu-end -->

    </header>

    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <!-- pp-hero-area-start -->
                <div class="pp-hero-area scene p-relative z-index-1 bg-position fix pp-hero-spacing" data-background="img/hero/pp/bg.jpg">
                    <div class="pp-hero-bg">
                        <img class="layer" data-depth="0.8" src="~/img/hero/pp/thumbabu.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5">

                                @*<div class="pp-hero-avatar pb-190">
                            <img src="~/img/hero/pp/thumb-2.png" alt="">
                        </div>*@

                                @*<div class="pp-hero-video mb-30">
                            <video loop="" muted="" autoplay="" playsinline="">
                                <source src="https://html.aqlova.com/videos/cunnet/video-2.mp4" type="video/mp4">
                            </video>
                        </div>*@

                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-5 col-md-5">
                                <div class="ca-hero-service pp-hero-service mb-30 mr-80">
                                    <ul>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Branding">Branding</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Development">Development</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Design">Design</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Marketing">Marketing</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Creative Design">Creative Design</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-5 col-xl-7 ms-auto">
                                <div class="pp-hero-content ml-55">
                                    <span class="pp-hero-subtitle text-white mb-10 d-inline-block">Web • Software • SaaS</span>
                                    <h2 class="pp-hero-title text-white mb-50">
                                        Building scalable,
                                        high-performance
                                        digital products.
                                    </h2>
                                    <div class="pp-hero-btn d-flex flex-wrap gap-2">
                                        <a class="tp-btn text-black bg-white mb-10" href="about-me-dark.html">
                                            <span>
                                                <span class="text-1">How can i help?</span>
                                                <span class="text-2">How can i help?</span>
                                            </span>
                                            <i>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                            </i>
                                        </a>
                                        <a class="tp-btn tp-btn-border-white text-white mb-10" href="contact-me-dark.html">
                                            <span>
                                                <span class="text-1">Contact Me</span>
                                                <span class="text-2">Contact Me</span>
                                            </span>
                                            <i>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pp-hero-area-end -->
                <!-- pp-about-area-start -->
                <div class="pp-about-area pt-145 pb-160">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-3">

                                @*<div class="mp-hero-awards pp-about-awards mb-30 p-relative d-inline-block tp_fade_anim" data-delay=".3" data-fade-from="bottom" data-ease="bounce">
                            <img class="rotate-infinite" src="~/img/about/pp/text.png" alt="award">
                            <img class="mp-hero-w-logo" src="~/img/about/pp/star.png" alt="">
                        </div>*@

                            </div>
                            <div class="col-xxl-7 col-xl-9">
                                <div class="pp-about-content">
                                    <h2 class="pp-about-title mb-35 tp_fade_anim" data-delay=".3">
                                        I’m Abu <span></span> a self taught & self learned<br>
                                        Developer based in India. I started as a Web<br>
                                        & Software developer, but now I do mix<br>
                                        of everything from <a href="#">SaaS</a> Dev to <a href="#">Web and Software </a>
                                        Development
                                    </h2>
                                    <div class="pp-about-dec-wrap ml-115">
                                        <div class="tp_fade_anim" data-delay=".5">
                                            <p class="pp-about-dec mb-50">
                                                I build modern web apps, softwares and SaaS products,
                                                focusing on clean code and scalable systems.
                                                I like working on ideas that turn into real
                                                products people can actually use.
                                            </p>
                                        </div>
                                        <div class="pp-about-btn d-flex flex-wrap gap-3">
                                            <div class="tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                                <a href="~/img/cv/mycv.docx" class="tp-btn pp-btn-download">
                                                    <span>
                                                        <span class="text-1">Download CV</span>
                                                        <span class="text-2">Download CV</span>
                                                    </span>
                                                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M6.27295 0.75C6.27295 0.335787 5.93716 1.07513e-07 5.52295 8.9407e-08C5.10874 7.13011e-08 4.77295 0.335786 4.77295 0.75L5.52295 0.75L6.27295 0.75ZM4.99262 14.2734C5.28551 14.5663 5.76039 14.5663 6.05328 14.2734L10.8262 9.50045C11.1191 9.20755 11.1191 8.73268 10.8262 8.43979C10.5334 8.14689 10.0585 8.14689 9.76559 8.43979L5.52295 12.6824L1.28031 8.43979C0.987416 8.14689 0.512542 8.14689 0.219649 8.43979C-0.0732447 8.73268 -0.0732448 9.20755 0.219649 9.50045L4.99262 14.2734ZM5.52295 0.75L4.77295 0.75L4.77295 13.7431L5.52295 13.7431L6.27295 13.7431L6.27295 0.75L5.52295 0.75Z" fill="currentColor" />
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="tp-btn-group tp-btn-group-transparent tp_fade_anim" data-delay=".5" data-fade-from="bottom" data-ease="bounce">
                                                <a class="tp-btn-circle" href="about-me-dark.html">
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                    </svg>
                                                </a>
                                                <a class="tp-btn z-index-1" href="about-me-dark.html">Discover now</a>
                                                <a class="tp-btn-circle" href="about-me-dark.html">
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pp-about-area-end -->
                <!-- pp-porfolio-area-start -->
                <div class="pp-porfolio-area p-relative fix pt-115 pb-80">
                    <div class="pp-porfolio-bg-wrap">
                        <div id="pp-porfolio-bg-box" class="pp-porfolio-bg-1">
                            <img class="pp-porfolio-bg-1" src="~/img/portfolio/pp/portfolio.jpg" alt="">
                            <img class="pp-porfolio-bg-2" src="~/img/portfolio/pp/portfolio-2.jpg" alt="">
                            <img class="pp-porfolio-bg-3" src="~/img/portfolio/pp/portfolio-3.jpg" alt="">
                            <img class="pp-porfolio-bg-4" src="~/img/portfolio/pp/portfolio-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="pp-porfolio-content pp-porfolio-title-wrap z-index-5">
                                    <span class="pp-porfolio-subtitle text-uppercase text-white d-inline-block mb-40">[ Portfolio ]</span>
                                    <ul>
                                        <li class="active" rel="pp-porfolio-bg-1">
                                            <a href="portfolio-details-gallery-dark.html">Nexus</a>
                                            <div class="pp-porfolio-date">
                                                <span>SaaS</span>
                                                <span>SaaS Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>
                                        <li rel="pp-porfolio-bg-2">
                                            <a href="portfolio-details-gallery-dark.html">Talk Sphere</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>College Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>
                                        <li rel="pp-porfolio-bg-3">
                                            <a href="portfolio-details-gallery-dark.html">Chromaic</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>Personal Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-3">
                                            <a href="portfolio-details-gallery-dark.html">Chromaic</a>
                                            <div class="pp-porfolio-date">
                                                <span>Branding</span>
                                                <span>Personal Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>


                                        <li rel="pp-porfolio-bg-3">
                                            <a href="portfolio-details-gallery-dark.html">CartNova</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>College Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-3">
                                            <a href="portfolio-details-gallery-dark.html">ResQ</a>
                                            <div class="pp-porfolio-date">
                                                <span>Web Designing</span>
                                                <span>Hackathon Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-4">
                                            <a href="portfolio-details-gallery-dark.html">Sahayta</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>College Project</span>
                                                <span>2024</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-4">
                                            <a href="portfolio-details-gallery-dark.html">CroissoCafe</a>
                                            <div class="pp-porfolio-date">
                                                <span>Branding</span>
                                                <span>Personal Project</span>
                                                <span>2024</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="pp-porfolio-slider mt-115">
                                        <div class="swiper pp-slide-active">
                                            <div class="swiper-wrapper slide-transtion">
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pp-porfolio-area-end -->
                <!-- pp-service-area-start -->
                <div class="ca-team-area pp-team-style pb-115 pt-155">
                    <div class="pp-service-area pb-160">
                        <div class="container">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-2 col-lg-3">
                                    <div class="pp-service-subtitle-wrap mb-30 tp_fade_anim" data-delay=".3">
                                        <span class="ca-team-subtitle pp-team-subtitle-black"><span>[</span> What I Do <span>]</span></span>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3">
                                    <div class="pp-service-btn mb-30 tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                        <a href="~/img/cv/mycv.docx" class="tp-btn pp-btn-download">
                                            <span>
                                                <span class="text-1">Download CV</span>
                                                <span class="text-2">Download CV</span>
                                            </span>
                                            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.27295 0.75C6.27295 0.335787 5.93716 1.07513e-07 5.52295 8.9407e-08C5.10874 7.13011e-08 4.77295 0.335786 4.77295 0.75L5.52295 0.75L6.27295 0.75ZM4.99262 14.2734C5.28551 14.5663 5.76039 14.5663 6.05328 14.2734L10.8262 9.50045C11.1191 9.20755 11.1191 8.73268 10.8262 8.43979C10.5334 8.14689 10.0585 8.14689 9.76559 8.43979L5.52295 12.6824L1.28031 8.43979C0.987416 8.14689 0.512542 8.14689 0.219649 8.43979C-0.0732447 8.73268 -0.0732448 9.20755 0.219649 9.50045L4.99262 14.2734ZM5.52295 0.75L4.77295 0.75L4.77295 13.7431L5.52295 13.7431L6.27295 13.7431L6.27295 0.75L5.52295 0.75Z" fill="currentColor" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-6">
                                    <div class="pp-service-list ml-35 tp_fade_anim" data-delay=".5">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    01. Web Development
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    02. Software Development
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    03. Complete Brand Design
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    04. Logo Design
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    05. SaaS
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- pp-service-area-end -->

            </main>

            <footer>
                <!-- footer area start -->
                <div class="tp-footer-area mp-footer-style pt-145 bg-position" data-background="img/footer/bg.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-4 col-lg-6">
                                <div class="tp-footer-widget tp-footer-link mb-30 tp_fade_anim" data-delay=".4">
                                    <h5 class="tp-footer-subtitle text-white mb-25">Quick links</h5>
                                    <div class="tp-hero-social">
                                        <a href="#">About</a>
                                        <a href="#">Who we are</a>
                                        <a href="#">Services</a>
                                        <a href="#">Projects</a>
                                        <a href="#">Blog</a>
                                        <a href="#">Pricing</a>
                                        <a href="#">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-5 offset-xxl-5 offset-xl-1 col-lg-6">
                                <div class="tp-footer-widget ml-40 mb-30 tp_fade_anim" data-delay=".5">
                                    <span class="tp-footer-dec text-white">Searching for exceptional talents?</span>
                                    <h4 class="tp-footer-email tp-ff-sequel-roman text-white"><a href="mailto:cunnet@gmail.com">abuhuraira1514@gmail.com</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end mt-35">
                            <div class="col-lg-4">
                                <div class="tp-footer-logo mb-30 tp_fade_anim" data-delay=".6">
                                    <a href="index-dark.html"><img data-width="229" src="~/img/logo/logo-white.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="tp-footer-text text-lg-end tp_fade_anim" data-delay=".7">
                                    <h2 class="tp-footer-bigtext text-white text-uppercase tp-ff-sequel-bold-head">
                                        <a href="contact-me-dark.html" class="text-scale-anim">Say Hello!</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="tp-footer-copyright-area tp-about-border mt-70 pt-30 pb-10">
                            <div class="row align-items-center">

                                @*<div class="col-xl-3 col-lg-5">
                                    <div class="tp-footer-copyright-wrap mb-20">
                                        <span class="tp-footer-copyright">Powered by ThemePure</span>
                                    </div>
                                </div>*@

                                <div class="col-xl-6 col-lg-7">
                                    <div class="tp-footer-copyright-social mb-20">
                                        <a href="#">
                                            Facebook
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            Twitter
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            Instagram
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            LinkedIn
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.599976 11.1001V5.1001C0.599976 4.54781 1.04769 4.1001 1.59998 4.1001H8.59998M8.59998 4.1001L5.59998 0.600098M8.59998 4.1001L5.59998 7.6001" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="tp-footer-copyright-wrap text-lg-end mb-20">
                                        <span class="tp-footer-copyright">Copyright © <span class="update-year"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer area end -->
            </footer>

        </div>
    </div>