@{
    ViewData["Title"] = "Home Page";
}





<style>
    /* Ensure all portfolio background images are absolutely positioned to prevent layout breakage */
    #pp-porfolio-bg-box img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        visibility: hidden;
        transition: all 0.9s;
        transform: scale(1.04);
    }

    /* Active states for visibility */
    .pp-porfolio-bg-1 .pp-porfolio-bg-1,
    .pp-porfolio-bg-2 .pp-porfolio-bg-2,
    .pp-porfolio-bg-3 .pp-porfolio-bg-3,
    .pp-porfolio-bg-4 .pp-porfolio-bg-4,
    .pp-porfolio-bg-5 .pp-porfolio-bg-5,
    .pp-porfolio-bg-6 .pp-porfolio-bg-6,
    .pp-porfolio-bg-7 .pp-porfolio-bg-7,
    .pp-porfolio-bg-8 .pp-porfolio-bg-8 {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
</style>



    


            <main>

                <!-- pp-hero-area-start -->
                <div class="pp-hero-area scene p-relative z-index-1 bg-position fix pp-hero-spacing" data-background="img/hero/pp/bg.jpg">
                    <div class="pp-hero-bg">
                        <img class="layer" data-depth="0.8" src="~/img/hero/pp/thumbabu.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5">

                                @*<div class="pp-hero-avatar pb-190">
                            <img src="~/img/hero/pp/thumb-2.png" alt="">
                        </div>*@

                                @*<div class="pp-hero-video mb-30">
                            <video loop="" muted="" autoplay="" playsinline="">
                                <source src="https://html.aqlova.com/videos/cunnet/video-2.mp4" type="video/mp4">
                            </video>
                        </div>*@

                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-5 col-md-5">
                                <div class="ca-hero-service pp-hero-service mb-30 mr-80">
                                    <ul>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Branding">Branding</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Development">Development</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Design">Design</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Marketing">Marketing</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="explore-text" data-text="Creative Design">Creative Design</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-5 col-xl-7 ms-auto">
                                <div class="pp-hero-content ml-55">
                                    <span class="pp-hero-subtitle text-white mb-10 d-inline-block">Web • Software • SaaS</span>
                                    <h2 class="pp-hero-title text-white mb-50">
                                        Building scalable,
                                        high-performance
                                        digital products.
                                    </h2>
                                    <div class="pp-hero-btn d-flex flex-wrap gap-2">
                                        <a class="tp-btn text-black bg-white mb-10" href="about-me-dark.html">
                                            <span>
                                                <span class="text-1">How can i help?</span>
                                                <span class="text-2">How can i help?</span>
                                            </span>
                                            <i>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                            </i>
                                        </a>
                                        <a class="tp-btn tp-btn-border-white text-white mb-10" href="contact-me-dark.html">
                                            <span>
                                                <span class="text-1">Contact Me</span>
                                                <span class="text-2">Contact Me</span>
                                            </span>
                                            <i>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                </svg>
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pp-hero-area-end -->
                <!-- pp-about-area-start -->
                <div class="pp-about-area pt-145 pb-160">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-3">

                                @*<div class="mp-hero-awards pp-about-awards mb-30 p-relative d-inline-block tp_fade_anim" data-delay=".3" data-fade-from="bottom" data-ease="bounce">
                            <img class="rotate-infinite" src="~/img/about/pp/text.png" alt="award">
                            <img class="mp-hero-w-logo" src="~/img/about/pp/star.png" alt="">
                        </div>*@

                            </div>
                            <div class="col-xxl-7 col-xl-9">
                                <div class="pp-about-content">
                                    <h2 class="pp-about-title mb-35 tp_fade_anim" data-delay=".3">
                                        I’m Abu <span></span> a self taught & self learned<br>
                                        Developer based in India. I started as a Web<br>
                                        & Software developer, but now I do mix<br>
                                        of everything from <a href="#">SaaS</a> Dev to <a href="#">Web and Software </a>
                                        Development
                                    </h2>
                                    <div class="pp-about-dec-wrap ml-115">
                                        <div class="tp_fade_anim" data-delay=".5">
                                            <p class="pp-about-dec mb-50">
                                                I build modern web apps, softwares and SaaS products,
                                                focusing on clean code and scalable systems.
                                                I like working on ideas that turn into real
                                                products people can actually use.
                                            </p>
                                        </div>
                                        <div class="pp-about-btn d-flex flex-wrap gap-3">
                                            <div class="tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                                <a href="~/img/cv/mycv.docx" class="tp-btn pp-btn-download">
                                                    <span>
                                                        <span class="text-1">Download CV</span>
                                                        <span class="text-2">Download CV</span>
                                                    </span>
                                                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M6.27295 0.75C6.27295 0.335787 5.93716 1.07513e-07 5.52295 8.9407e-08C5.10874 7.13011e-08 4.77295 0.335786 4.77295 0.75L5.52295 0.75L6.27295 0.75ZM4.99262 14.2734C5.28551 14.5663 5.76039 14.5663 6.05328 14.2734L10.8262 9.50045C11.1191 9.20755 11.1191 8.73268 10.8262 8.43979C10.5334 8.14689 10.0585 8.14689 9.76559 8.43979L5.52295 12.6824L1.28031 8.43979C0.987416 8.14689 0.512542 8.14689 0.219649 8.43979C-0.0732447 8.73268 -0.0732448 9.20755 0.219649 9.50045L4.99262 14.2734ZM5.52295 0.75L4.77295 0.75L4.77295 13.7431L5.52295 13.7431L6.27295 13.7431L6.27295 0.75L5.52295 0.75Z" fill="currentColor" />
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="tp-btn-group tp-btn-group-transparent tp_fade_anim" data-delay=".5" data-fade-from="bottom" data-ease="bounce">
                                                <a class="tp-btn-circle" href="about-me-dark.html">
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                    </svg>
                                                </a>
                                                <a class="tp-btn z-index-1" href="about-me-dark.html">Discover now</a>
                                                <a class="tp-btn-circle" href="about-me-dark.html">
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pp-about-area-end -->
                <!-- pp-porfolio-area-start -->
                <div class="pp-porfolio-area p-relative fix pt-115 pb-80">
                    <div class="pp-porfolio-bg-wrap">
                        <div id="pp-porfolio-bg-box" class="pp-porfolio-bg-1">
                            <img class="pp-porfolio-bg-1" src="~/img/" alt="">
                            <img class="pp-porfolio-bg-2" src="~/img/my-img/talksphere-mockup.webp" alt="">
                            <img class="pp-porfolio-bg-3" src="~/img/my-img/chromaic-mockup.png" alt="">
                            <img class="pp-porfolio-bg-4" src="~/img/my-img/chromaic-mockup2.png" alt="">
                            <img class="pp-porfolio-bg-5" src="~/img/my-img/cartnova-mockup.webp" alt="">
                            <img class="pp-porfolio-bg-6" src="~/img/my-img/resq-mockup.webp" alt="">
                            <img class="pp-porfolio-bg-7" src="~/img/my-img/sahayta-mockup.webp" alt="">
                            <img class="pp-porfolio-bg-8" src="~/img/my-img/croissocafe-mockup.webp" alt="">

                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="pp-porfolio-content pp-porfolio-title-wrap z-index-5">
                                    <span class="pp-porfolio-subtitle text-uppercase text-white d-inline-block mb-40">[ Portfolio ]</span>
                                    <ul>
                                        <li class="active" rel="pp-porfolio-bg-1">
                                            <a href="portfolio-details-gallery-dark.html">Nexus</a>
                                            <div class="pp-porfolio-date">
                                                <span>SaaS</span>
                                                <span>SaaS Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>
                                        <li rel="pp-porfolio-bg-2">
                                            <a href="portfolio-details-gallery-dark.html">Talk Sphere</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>College Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>
                                        <li rel="pp-porfolio-bg-3">
                                            <a href="portfolio-details-gallery-dark.html">Chromaic</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>Personal Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-4">
                                            <a href="portfolio-details-gallery-dark.html">Chromaic</a>
                                            <div class="pp-porfolio-date">
                                                <span>Branding</span>
                                                <span>Personal Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>


                                        <li rel="pp-porfolio-bg-5">
                                            <a href="portfolio-details-gallery-dark.html">CartNova</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>College Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-6">
                                            <a href="portfolio-details-gallery-dark.html">ResQ</a>
                                            <div class="pp-porfolio-date">
                                                <span>Web Designing</span>
                                                <span>Hackathon Project</span>
                                                <span>2025</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-7">
                                            <a href="portfolio-details-gallery-dark.html">Sahayta</a>
                                            <div class="pp-porfolio-date">
                                                <span>Full stack Development</span>
                                                <span>College Project</span>
                                                <span>2024</span>
                                            </div>
                                        </li>

                                        <li rel="pp-porfolio-bg-8">
                                            <a href="portfolio-details-gallery-dark.html">CroissoCafe</a>
                                            <div class="pp-porfolio-date">
                                                <span>Branding</span>
                                                <span>Personal Project</span>
                                                <span>2024</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="pp-porfolio-slider mt-115">
                                        <div class="swiper pp-slide-active">
                                            <div class="swiper-wrapper slide-transtion">
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Get In touch <span></span></span>
                                                </div>
                                                <div class="swiper-slide">
                                                    <span>Available for work <span></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pp-porfolio-area-end -->
                <!-- pp-service-area-start -->
                <div class="ca-team-area pp-team-style pb-115 pt-155">
                    <div class="pp-service-area pb-160">
                        <div class="container">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-2 col-lg-3">
                                    <div class="pp-service-subtitle-wrap mb-30 tp_fade_anim" data-delay=".3">
                                        <span class="ca-team-subtitle pp-team-subtitle-black"><span>[</span> What I Do <span>]</span></span>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3">
                                    <div class="pp-service-btn mb-30 tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                                        <a href="~/img/cv/mycv.docx" class="tp-btn pp-btn-download">
                                            <span>
                                                <span class="text-1">Download CV</span>
                                                <span class="text-2">Download CV</span>
                                            </span>
                                            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.27295 0.75C6.27295 0.335787 5.93716 1.07513e-07 5.52295 8.9407e-08C5.10874 7.13011e-08 4.77295 0.335786 4.77295 0.75L5.52295 0.75L6.27295 0.75ZM4.99262 14.2734C5.28551 14.5663 5.76039 14.5663 6.05328 14.2734L10.8262 9.50045C11.1191 9.20755 11.1191 8.73268 10.8262 8.43979C10.5334 8.14689 10.0585 8.14689 9.76559 8.43979L5.52295 12.6824L1.28031 8.43979C0.987416 8.14689 0.512542 8.14689 0.219649 8.43979C-0.0732447 8.73268 -0.0732448 9.20755 0.219649 9.50045L4.99262 14.2734ZM5.52295 0.75L4.77295 0.75L4.77295 13.7431L5.52295 13.7431L6.27295 13.7431L6.27295 0.75L5.52295 0.75Z" fill="currentColor" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-6">
                                    <div class="pp-service-list ml-35 tp_fade_anim" data-delay=".5">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    01. Web Development
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    02. Software Development
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    03. Complete Brand Design
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    04. Logo Design
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    05. SaaS
                                                    <span>
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.75 9.9375L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- pp-service-area-end -->

            </main>
