@page
@{
}


            <main>
                <!-- tp-breadcrumb-details-area-start -->
                <div class="tp-breadcrumb-area about-us-spacing pb-100">
                    <div class="container">
                        <div class="tp-breadcrumb-border pb-20">
                            <div class="row align-items-end">
                                <div class="col-lg-9">
                                    <div class="tp-tp-breadcrumb-main mt-60 mb-30">
                                        <h2 class="tp-breadcrumb-title tp-ff-sequel-bold-head tp_fade_anim" data-delay=".5">My<br> Portfolio</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="inner-service-banner-scroll text-lg-end smooth mb-30">
                                        <a class="tp-ff-sequel-semi-bold text-uppercase tp-smooth" href="#faq">
                                            scroll to explore
                                            <span>
                                                <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M14.75 0.75L7.75 7.75L0.75 0.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tp-breadcrumb-details-area-end -->

                <!-- tp-breadcrumb-details-area-start -->
                <!--<div class="tp-breadcrumb-area about-us-spacing p-relative z-index-1 pb-50">
                    <div class="tp-breadcrumb-bg">
                        <img src="~/img/breadcrumb/background.png" alt="">
                    </div>
                    <div class="container">
                        <div class="tp-breadcrumb-border">
                            <div class="row">
                                <div class="col-xl-8 offset-xl-3">
                                    <div class="tp-breadcrumb-main p-relative mb-30">
                                        <h2 class="tp-breadcrumb-title tp-ff-sequel-bold-head text-uppercase fs-152 mb-20 tp-char-animation">Portfolio</h2>
                                        <div class="tp-breadcrumb-dec-wrap d-flex ml-100 tp_fade_anim" data-delay=".5">
                                            <span class="tp-breadcrumb-date text-uppercase mr-75">( 1990-2026 )</span>
                                            <p class="tp-breadcrumb-dec">Cunnet is a beacon of best innovation the <br> dynamic parent a company of wealcoder many<br> other subsidiaries.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- tp-breadcrumb-details-area-end -->

                <!-- portfolio area start -->
                <div class="tp-portfolio-inner-ptb tp-animate-tab tp-portfolio-inner-tab-style-3 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tp-portfolio-tab-content-wrap">
                                    <div class="tp-portfolio-inner-tab-wrap mb-40">
                                        <nav>
                                            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All</button>

                                                @*<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Design</button>*@

                                            </div>
                                        </nav>
                                    </div>
                                    <div class="tab-content p-relative" id="nav-tabContent">
                                        <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                            <div class="row gx-40">
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Nexus </a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="~/Portfolio/Chromaic">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-2.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="~/Portfolio/Chromaic" class="common-underline tp-title-text">Chromaic </a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-3.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Talksphere </a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-4.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">CartNova </a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-5.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">ResQ </a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-6.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">CroissoCafe </a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                @*<div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-7.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">DropMarket</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-8.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">NeoMarket</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            </div>
                                        </div>

                                        @*<div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                            <div class="row gx-40">
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-3.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Marketly</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-4.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Shopline</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Shophoria</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-2.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Storefront</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-5.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Shophoria</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-6.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">Storefront</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-7.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">DropMarket</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                                        <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor" data-cursor="View<br>Demo">
                                                            <a class="cursor-hide" href="portfolio-details-gallery-dark.html">
                                                                <img class="w-100" src="~/img/portfolio/cs/inner/portfolio-8.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                            <h3 class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                                <a href="portfolio-details-gallery-dark.html" class="common-underline tp-title-text">NeoMarket</a>
                                                            </h3>
                                                            <div class="cs-portfolio-tag">
                                                                <ul>
                                                                    <li><a href="#">Web Design</a></li>
                                                                    <li><a href="#">Web development</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- portfolio area end -->

            </main>


