@page
@{
}


<main>
    <!-- tp-breadcrumb-details-area-start -->
    <div class="tp-breadcrumb-area about-us-spacing pb-100">
        <div class="container">
            <div class="tp-breadcrumb-border pb-20">
                <div class="row align-items-end">
                    <div class="col-lg-9">
                        <div class="tp-tp-breadcrumb-main mt-60 mb-30">
                            <h2 class="tp-breadcrumb-title tp-ff-sequel-bold-head tp_fade_anim" data-delay=".5">My<br>
                                Portfolio</h2>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="inner-service-banner-scroll text-lg-end smooth mb-30">
                            <a class="tp-ff-sequel-semi-bold text-uppercase tp-smooth" href="#faq">
                                scroll to explore
                                <span>
                                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.75 0.75L7.75 7.75L0.75 0.75" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tp-breadcrumb-details-area-end -->
    <!-- portfolio area start -->
    <div class="tp-portfolio-inner-ptb tp-animate-tab tp-portfolio-inner-tab-style-3 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-portfolio-tab-content-wrap">
                        <div class="tp-portfolio-inner-tab-wrap mb-40">
                        </div>
                        <div class="tab-content p-relative" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab" tabindex="0">
                                <div class="row gx-40">
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/Nexus">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/Nexus-laptop-1.webp" alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/Nexus"
                                                        class="common-underline tp-title-text">Nexus </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Web development</a></li>
                                                        <li>
                                                            <ahref="#!">SaaS</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/Chromaic">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/Chromaic-mockup-1.webp"
                                                        alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/Chromaic"
                                                        class="common-underline tp-title-text">Chromaic </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Development</a></li>
                                                        <li><a href="#!">Branding</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/Talksphere">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/talksphere-mockup.webp"
                                                        alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/Talksphere"
                                                        class="common-underline tp-title-text">Talksphere </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Web development</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/Cartnova">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/Cartnova-mockup.webp" alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/Cartnova"
                                                        class="common-underline tp-title-text">CartNova </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Web development</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/ResQ">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/resq-moodboard.webp" alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/ResQ"
                                                        class="common-underline tp-title-text">ResQ </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Web development</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/Croissocafe">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/croissocafe-mockup.webp"
                                                        alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/Croissocafe"
                                                        class="common-underline tp-title-text">CroissoCafe </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design and Dev</a></li>
                                                        <li><a href="#!">Branding</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/Sahayta">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/Sahayta-mockup.webp" alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/Sahayta"
                                                        class="common-underline tp-title-text">Sahayta </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Web development</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tp-title-anim cs-portfolio-item anim-zoomin-wrap mb-40">
                                            <div class="cs-portfolio-thumb anim-zoomin not-hide-cursor"
                                                data-cursor="View<br>Demo">
                                                <a class="cursor-hide" href="~/Portfolio/RunQuest">
                                                    <img class="w-100"
                                                        src="~/img/my-img/portfolio/Cover/RunQuest-ai.webp" alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="cs-portfolio-content d-flex align-items-center flex-wrap justify-content-between">
                                                <h3
                                                    class="cs-portfolio-title tp-title-anim-inner mr-20 text-white tp-ff-sequel-semi-bold text-uppercase">
                                                    <a href="~/Portfolio/RunQuest"
                                                        class="common-underline tp-title-text">RunQuest </a>
                                                </h3>
                                                <div class="cs-portfolio-tag">
                                                    <ul>
                                                        <li><a href="#!">Web Design</a></li>
                                                        <li><a href="#!">Web development</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio area end -->
</main>
