@page
@{
}
<br />
<br />
<main>
    <br />
    <!-- inner-service-us-area-start -->
    <div class="inner-service-banner-area about-us-spacing pb-140">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 offset-xxl-2 col-xl-10">
                    <div class="inner-service-banner-title-wrap tp_fade_anim" data-delay=".3">
                        <h2 class="about-us-title tp-ff-sequel-medium">
                            Delivering creative visuals that<br>
                            stand out make your vision.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-service-banner-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="inner-service-banner-scroll smooth mb-10">
                        <a class="tp-ff-sequel-semi-bold text-uppercase tp-smooth" href="#service">
                            scroll to explore
                            <span>
                                <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.75 0.75L7.75 7.75L0.75 0.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="inner-service-banner-scroll smooth mb-10 text-sm-end">
                        <span class="tp-ff-sequel-semi-bold text-uppercase">10 years of experience</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-us-area-end -->
    <!-- tp-banner-area-start -->
    <div class="tp-banner-thumb fix w-100 scale-up-img">
        <img data-speed="0.4" class="img-cover scale-up" src="~/img/banner/thumb-3.jpg" alt="">
    </div>
    <!-- tp-banner-area-end -->
    <!-- tp-service-area-start -->
    <div id="service" class="tp-service-area tp-panel-pin-area tp-bg-grey pt-145 pb-90">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-xxl-11 col-xl-12">
                    <div class="tp-about-title-wrap mb-30">
                        <h2 class="tp-section-title reveal-text">
                            At cunnet, we don’t just build website<br>
                            or campaigns we craft purpose-driven
                            digital journeys.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="tp-about-border mt-20 pt-40">
                <div class="row">
                    <div class="col-lg-4 mb-40">
                        <div class="tp-service-content mr-60 mt-20">
                            <div class="tp-service-sales-wrap tp-panel-pin fix p-relative">
                                <div class="tp-service-img-wrapper image-container">
                                    <div class="hover-image">
                                        <img class="thumb" src="~/img/service/service.jpg" alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb" src="~/img/service/service-2.jpg" alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb" src="~/img/service/service-3.jpg" alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb" src="~/img/service/service-4.jpg" alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb" src="~/img/service/service-4.jpg" alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb" src="~/img/service/service-4.jpg" alt="Service Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-40">
                        <div class="tp-service-list-wrap ml-60">
                            <div class="tp-service-item service-item mb-5" data-img="~/img/service/service-2.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Web Apps
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            <div class="tp-service-item service-item mb-5" data-img="~/img/service/service-3.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Software
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            <div class="tp-service-item service-item mb-5 active" data-img="~/img/service/service.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Branding
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>

                            <div class="tp-service-item service-item mb-5" data-img="~/img/service/service-4.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Designing
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            @*<div class="tp-service-item service-item mb-5" data-img="~/img/service/service-4.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Raum
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            <div class="tp-service-item service-item mb-5" data-img="~/img/service/service-4.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Champagne
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tp-service-area-end -->
    <!-- mg-gallery-area-start -->
    <div class="mg-gallery-area fix">
        <div class="container-fluid container-1886">
            <div class="inner-service-gallery tp-gallery-wrapper">
                <div class="inner-service-gallery-item about-us-history-title-wrap text-center mb-30">
                    <h2 class="about-us-history-title tp-ff-sequel-bold-head text-uppercase mb-50">Explore<br> The Portfolio</h2>
                    <a class="tp-btn tp-btn-white tp-ff-inter text-uppercase" href="portfolio-details-dark.html">
                        <span>
                            <span class="text-1">Discover Now</span>
                            <span class="text-2">Discover Now</span>
                        </span>
                        <i>
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                            </svg>
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z" fill="currentColor" />
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="row gx-30">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="tp-gallery-item-wrapper" data-speed="-0.1">
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-2.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-3.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-4.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-5.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="tp-gallery-item-wrapper" data-speed="0.8">
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-7.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-8.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-9.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-10.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-11.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-12.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="tp-gallery-item-wrapper" data-speed="-0.1">
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-6.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-2.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-7.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-3.jpg" alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100" src="~/img/gallery/thumb-9.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mg-gallery-area-end -->
    <!-- pricing area start -->
    <div class="tp-pricing-ptb pt-155 pb-130">
        <div class="container container-1480">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="tp-pricing-heading mb-65">
                        <span class="tp-section-subtitle fs-20 fw-500 mb-10 d-inline-block">Cunnet Plan</span>
                        <h2 class="tp-section-title reveal-text">Special Offer! choose<br> your pack today</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tp-pricing-nav-wrapper p-relative mb-80 d-flex justify-content-lg-end align-items-center">
                        <label class="tp-toggler-pre" id="tp-nav-monthly">Monthly</label>
                        <div class="tp-toggle-input-wrap">
                            <input type="checkbox" id="tp-switcher-input" class="tp-input-check">
                            <b class="tp-switch-toggle"></b>
                        </div>
                        <label class="tp-toggler-post is-active" id="tp-nav-yearly">Yearly</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="tp-tab-monthly" class="tp-pricing-tab-item tp-tab-hide">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="ds-price-item mb-30">
                                    <div class="ds-price-item-head">
                                        <span>Basic</span>
                                        <p>Ideal for small businesses of starups.</p>
                                        <h4>$00 <i> /Free</i></h4>
                                    </div>
                                    <div class="ds-price-item-list">
                                        <h4 class="ds-price-item-list-title">Incudes:</h4>
                                        <ul>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Basic Branding Package
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Custom 5-Page Website
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                SEO Optimization Basics
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Full Brand Strategy & Design
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Social Media Setup
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ds-price-item-btn">
                                        <a class="tp-btn tp-btn-border tp-btn-xxl w-100 justify-content-center" href="contact-us-dark.html">
                                            <span>
                                                <span class="text-1">Choose your plan</span>
                                                <span class="text-2">Choose your plan</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="ds-price-item active mb-30">
                                    <div class="ds-price-item-tag"><span>popular</span></div>
                                    <div class="ds-price-item-head">
                                        <span>Standard</span>
                                        <p>Ideal for small businesses of starups.</p>
                                        <h4>$55 <i> /monthly</i></h4>
                                    </div>
                                    <div class="ds-price-item-list">
                                        <h4 class="ds-price-item-list-title">Incudes:</h4>
                                        <ul>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Basic Branding Package
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Custom 5-Page Website
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                SEO Optimization Basics
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Full Brand Strategy & Design
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                On-Demand Design Revisions
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ds-price-item-btn">
                                        <a class="tp-btn tp-btn-xxl w-100 justify-content-center" href="contact-us-dark.html">
                                            <span>
                                                <span class="text-1">Choose your plan</span>
                                                <span class="text-2">Choose your plan</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="ds-price-item mb-30">
                                    <div class="ds-price-item-head">
                                        <span>advanced</span>
                                        <p>Ideal for small businesses of starups.</p>
                                        <h4>$79 <i> /monthly</i></h4>
                                    </div>
                                    <div class="ds-price-item-list">
                                        <h4 class="ds-price-item-list-title">Incudes:</h4>
                                        <ul>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Basic Branding Package
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Custom 5-Page Website
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                SEO Optimization Basics
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Full Brand Strategy & Design
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                On-Demand Design Revisions
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ds-price-item-btn">
                                        <a class="tp-btn tp-btn-border tp-btn-xxl w-100 justify-content-center" href="contact-us-dark.html">
                                            <span>
                                                <span class="text-1">Choose your plan</span>
                                                <span class="text-2">Choose your plan</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tp-tab-yearly" class="tp-pricing-tab-item">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="ds-price-item mb-30">
                                    <div class="ds-price-item-head">
                                        <span>Basic</span>
                                        <p>Ideal for small businesses of starups.</p>
                                        <h4>$00 <i> /Free</i></h4>
                                    </div>
                                    <div class="ds-price-item-list">
                                        <h4 class="ds-price-item-list-title">Incudes:</h4>
                                        <ul>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Basic Branding Package
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Custom 5-Page Website
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                SEO Optimization Basics
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Full Brand Strategy & Design
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Social Media Setup
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ds-price-item-btn">
                                        <a class="tp-btn tp-btn-border tp-btn-xxl w-100 justify-content-center" href="contact-us-dark.html">
                                            <span>
                                                <span class="text-1">Choose your plan</span>
                                                <span class="text-2">Choose your plan</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="ds-price-item active mb-30">
                                    <div class="ds-price-item-tag"><span>popular</span></div>
                                    <div class="ds-price-item-head">
                                        <span>Standard</span>
                                        <p>Ideal for small businesses of starups.</p>
                                        <h4>$95 <i> /Yearly</i></h4>
                                    </div>
                                    <div class="ds-price-item-list">
                                        <h4 class="ds-price-item-list-title">Incudes:</h4>
                                        <ul>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Basic Branding Package
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Custom 5-Page Website
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                SEO Optimization Basics
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Full Brand Strategy & Design
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                On-Demand Design Revisions
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ds-price-item-btn">
                                        <a class="tp-btn tp-btn-xxl w-100 justify-content-center" href="contact-us-dark.html">
                                            <span>
                                                <span class="text-1">Choose your plan</span>
                                                <span class="text-2">Choose your plan</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="ds-price-item mb-30">
                                    <div class="ds-price-item-head">
                                        <span>advanced</span>
                                        <p>Ideal for small businesses of starups.</p>
                                        <h4>$199 <i> /Yearly</i></h4>
                                    </div>
                                    <div class="ds-price-item-list">
                                        <h4 class="ds-price-item-list-title">Incudes:</h4>
                                        <ul>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Basic Branding Package
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Custom 5-Page Website
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                SEO Optimization Basics
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                Full Brand Strategy & Design
                                            </li>
                                            <li>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                                                        <path d="M4.44737 11L0 5.66667L4.44737 8.33333L13 0L4.44737 11Z" fill="currentColor" fill-opacity="0.8" />
                                                    </svg>
                                                </span>
                                                On-Demand Design Revisions
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ds-price-item-btn">
                                        <a class="tp-btn tp-btn-border tp-btn-xxl w-100 justify-content-center" href="contact-us-dark.html">
                                            <span>
                                                <span class="text-1">Choose your plan</span>
                                                <span class="text-2">Choose your plan</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pricing area end -->


</main>
