@page
@{
}
<br />
<br />
<main>
    <br />
    <!-- inner-service-us-area-start -->
    <div class="inner-service-banner-area about-us-spacing pb-140">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 offset-xxl-2 col-xl-10">
                    <div class="inner-service-banner-title-wrap tp_fade_anim" data-delay=".3">
                        <h2 class="about-us-title tp-ff-sequel-medium">
                            Crafting digital identities <br> and engineering the
                            software <br> that brings them to life.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-service-banner-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="inner-service-banner-scroll smooth mb-10">
                        <a class="tp-ff-sequel-semi-bold text-uppercase tp-smooth">
                            scroll to explore
                            <span>
                                <svg width="16" height="9" viewBox="0 0 16 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.75 0.75L7.75 7.75L0.75 0.75" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="inner-service-banner-scroll smooth mb-10 text-sm-end">
                        <span class="tp-ff-sequel-semi-bold text-uppercase"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-us-area-end -->
    <!-- tp-banner-area-start -->
    <div class="tp-banner-thumb fix w-100 scale-up-img">
        <img data-speed="0.4" class="img-cover scale-up"
            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771333832/IMG_20260124_001313_963_egyf4k.png"
            alt="">
    </div>
    <!-- tp-banner-area-end -->
    <!-- tp-service-area-start -->
    <div id="service" class="tp-service-area tp-panel-pin-area tp-bg-grey pt-145 pb-90">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-xxl-11 col-xl-12">
                    <div class="tp-about-title-wrap mb-30">
                        <h2 class="tp-section-title reveal-text">
                            In my studio, I don’t just build systems or brands,
                            I craft purpose-driven digital ecosystems.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="tp-about-border mt-20 pt-40">
                <div class="row">
                    <div class="col-lg-4 mb-40">
                        <div class="tp-service-content mr-60 mt-20">
                            <div class="tp-service-sales-wrap tp-panel-pin fix p-relative">
                                <div class="tp-service-img-wrapper image-container">
                                    <div class="hover-image">
                                        <img class="thumb"
                                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274630/service6_i9v6rg.jpg"
                                            alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb"
                                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274944/MacBook_Mockup_1admin_jpg_e9glnc.jpg"
                                            alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb"
                                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274902/Label_Tag_Mockup_1-jpg_kgsy25.jpg"
                                            alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                        <img class="thumb"
                                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274634/service9_rykmcq.png"
                                            alt="Service Image">
                                    </div>
                                    @* <div class="hover-image">
                                    <img class="thumb" src="~/img/service/service-4.jpg" alt="Service Image">
                                    </div>
                                    <div class="hover-image">
                                    <img class="thumb" src="~/img/service/service-4.jpg" alt="Service Image">
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-40">
                        <div class="tp-service-list-wrap ml-60">
                            <div class="tp-service-item service-item mb-5"
                                data-img="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334479/Oversize_T-Shirt_Mockup_iidih4.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Web Apps
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            <div class="tp-service-item service-item mb-5"
                                data-img="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274944/MacBook_Mockup_1admin_jpg_e9glnc.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Software
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            <div class="tp-service-item service-item mb-5 active"
                                data-img="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274902/Label_Tag_Mockup_1-jpg_kgsy25.jpg">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Branding
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                            <div class="tp-service-item service-item mb-5"
                                data-img="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771274634/service9_rykmcq.png">
                                <h2 class="tp-service-title tp-ff-sequel-roman d-inline-block">
                                    <a href="service-details-dark.html">
                                        Designing
                                        <span class="tp-service-icon d-inline-block">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.17157 41.1716C-0.390524 42.7337 -0.390524 45.2663 1.17157 46.8284C2.73367 48.3905 5.26633 48.3905 6.82843 46.8284L4 44L1.17157 41.1716ZM48 4C48 1.79086 46.2091 -2.03428e-06 44 -3.48405e-07L8 1.57357e-07C5.79087 -1.19134e-06 4.00001 1.79086 4.00001 4C4.00001 6.20914 5.79087 8 8.00001 8L40 8L40 40C40 42.2091 41.7909 44 44 44C46.2091 44 48 42.2091 48 40L48 4ZM4 44L6.82843 46.8284L46.8284 6.82843L44 4L41.1716 1.17157L1.17157 41.1716L4 44Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tp-service-area-end -->
    <!-- mg-gallery-area-start -->
    <div class="mg-gallery-area fix">
        <div class="container-fluid container-1886">
            <div class="inner-service-gallery tp-gallery-wrapper">
                <div class="inner-service-gallery-item about-us-history-title-wrap text-center mb-30">
                    <h2 class="about-us-history-title tp-ff-sequel-bold-head text-uppercase mb-50">Explore<br> The
                        Portfolio</h2>
                    <a class="tp-btn tp-btn-white tp-ff-inter text-uppercase" href="portfolio-details-dark.html">
                        <span>
                            <span class="text-1">Discover Now</span>
                            <span class="text-2">Discover Now</span>
                        </span>
                        <i>
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                    fill="currentColor" />
                            </svg>
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                    fill="currentColor" />
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="row gx-30">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="tp-gallery-item-wrapper" data-speed="-0.1">
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334053/service5_b4gwt3.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334090/service11_qerxhz.png"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334096/service3_cx1bqo.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334479/Oversize_T-Shirt_Mockup_iidih4.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334090/service11_qerxhz.png"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334055/service6_lqwvkz.jpg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="tp-gallery-item-wrapper" data-speed="0.8">
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334098/service9_lazemk.png"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334077/service8_mp1awt.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334083/service21_x52gb8.png"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334479/Oversize_T-Shirt_Mockup_iidih4.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334077/service8_mp1awt.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334511/Billboard_Mockup_jpg_dvnbym.jpg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="tp-gallery-item-wrapper" data-speed="-0.1">
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334053/service5_b4gwt3.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334055/service6_lqwvkz.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334093/service12_c05urd.png"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334098/service9_lazemk.png"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334511/Billboard_Mockup_jpg_dvnbym.jpg"
                                        alt=""></a>
                            </div>
                            <div class="tp-gallery-item mb-30">
                                <a href="#"><img class="w-100"
                                        src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771334096/service3_cx1bqo.jpg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mg-gallery-area-end -->
    <!-- pricing area start -->
    <div class="tp-pricing-ptb pt-155 pb-130">

    </div>
    <!-- pricing area end -->


</main>
