@page
@{
}

<br />
<br />
<main>
    <br />

    <!-- portfolio details 2 area start -->
    <div class="tp-pd-2-ptb tp-pd-3-style pt-175 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-pd-2-top pb-45 jump-anim text-center">
                        <h3 class="tp-pd-3-title tp-ff-sequel-bold-head text-uppercase lh-1 tp_fade_anim"
                            data-delay=".5">Chromaic</h3>
                    </div>
                </div>
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="tp-pd-2-bottom-item mb-20">
                                <span>Role</span>
                                <h6>Lead Developer, <br>Brand Identity Designer</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="tp-pd-2-bottom-item mb-20">
                                <span>Date</span>
                                <h6>April 2025 - October 2025</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="tp-pd-2-bottom-item mb-20">
                                <span>Process</span>
                                <h6>• Design <br> • Development <br> • Branding</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="text-xl-end">
                        <a class="tp-btn tp-btn-border" href="#">
                            <span>
                                <span class="text-1">Visit Site</span>
                                <span class="text-2">Visit Site</span>
                            </span>
                            <i>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                        fill="currentColor" />
                                </svg>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                        fill="currentColor" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details 2 area end -->
    <!-- portfolio details overview start -->
    <div class="tp-pd-2-overview-ptb pb-25">
        <div class="container">
            <div class="tp-about-border pt-70">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tp-pd-2-overview-heading tp_fade_anim" data-delay=".3">
                            <h3 class="tp-pd-2-overview-title reveal-text">Project Overview</h3>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="tp-pd-2-overview-wrap mr-100">
                            <p>
                                Chromaic is a modern e-commerce platform tailored for GenZ, offering a clean, intuitive
                                shopping experience. Designed to handle fashion products with multiple variants like
                                color and size, it includes smooth navigation, cart functionality, wishlists, and secure
                                checkout. The goal was to create an aesthetically appealing and responsive store that
                                delivers performance and ease of use.
                            </p>
                            <p>
                                Chromaic is a full-stack e-commerce web application built for the GenZ fashion market.
                                It includes a customer website and an admin dashboard for managing products, users, and
                                orders. Key features include product variants, wishlist, cart, checkout, authentication,
                                and cloud-based image handling. The entire project was developed independently, covering
                                frontend, backend, APIs, and database, using React, Node.js, Express, MongoDB, and
                                Cloudinary.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details overview end -->
    <!-- portfolio details area start -->
    <div class="tp-pd-2-area pb-110">
        <div class="container-fluid p-0">
            <div class="row gx-20">
                <div class="col-lg-12">
                    <div class="tp-pd-2-banner mb-20 scale-up-img">
                        <img data-speed=".8" class="img-cover scale-up"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770986198/Label_Tag_Mockup_2-jpg_aevh5r.jpg"
                            alt="Project Illustration">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tp-pd-2-thumb-item scale-up-img mb-20">
                        <img data-speed=".8" class="img-cover scale-up"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770984412/canvas_new-board-250630_1455_nlgcfm.png"
                            alt="Work Illustration">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="tp-pd-2-thumb-item scale-up-img mb-20">
                        <img data-speed=".8" class="img-cover scale-up"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770984425/Screenshot_2025-06-28_at_9.50.51_PM_fuumta.png"
                            alt="Work Illustration">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tp-pd-2-thumb-item scale-up-img mb-20">
                        <img data-speed=".8" class="img-cover scale-up"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770984511/Screenshot_2025-06-28_at_9.51.08_PM_apos5k.png"
                            alt="Project Illustration">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details area end -->
    <!-- portfolio details step start -->
    <div class="tp-pd-2-step-ptb pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tp-pd-2-step-heading pb-60 tp_fade_anim" data-delay=".3">
                        <h3 class="tp-pd-2-step-title reveal-text">
                            Key Skills & Design Process
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="tp-pd-2-step-item mb-30">
                        <h4 class="tp-pd-2-step-item-title">01. Skills Gained</h4>
                        <span>
                            Independently built with MERN stack (MongoDB, React, Node.js, Express) and Cloudinary.
                            Gained hands-on experience in full-stack development, API handling, authentication,
                            deployment, problem-solving, and project management.
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tp-pd-2-step-item mb-30">
                        <h4 class="tp-pd-2-step-item-title">02. Design Process</h4>
                        <span>
                            Defined modern, minimal visual identity for GenZ. Explored logo, typography, and color
                            palette. Created high-fidelity UI mockups for consistent, appealing user experience across
                            website and product pages.
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tp-pd-2-step-item mb-30">
                        <h4 class="tp-pd-2-step-item-title">03. Tools & Software</h4>
                        <span>
                            Utilized Adobe Illustrator for logo design, icon creation, and vector assets. Adobe
                            Photoshop for website mockups, promotional graphics, and refining visual identity, ensuring
                            precision and quality.
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tp-pd-2-step-item mb-30">
                        <h4 class="tp-pd-2-step-item-title">04. Client & Development</h4>
                        <span>
                            Self-initiated project demonstrating independent full-stack development and brand identity
                            design. It strengthened skills in frontend, backend, APIs, and database management.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details step end -->

</main>