@page
@{
}

<br />
<br />
<main>
    <br />

    <!-- portfolio details 2 area start -->
    <div class="tp-pd-2-ptb tp-pd-3-style pt-175 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-pd-2-top pb-45 jump-anim text-center">
                        <h3 class="tp-pd-3-title tp-ff-sequel-bold-head text-uppercase lh-1 tp_fade_anim"
                            data-delay=".5">Run quest</h3>
                    </div>
                </div>
                <div class="col-xl-10">
                    <div class="row">
                        @* <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="tp-pd-2-bottom-item mb-20">
                        <span>Role</span>
                        <h6>Lead Developer, <br>Brand Identity Designer</h6>
                        </div>
                        </div> *@
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="tp-pd-2-bottom-item mb-20">
                                <span>Date</span>
                                <h6>Coming soon</h6>
                            </div>
                        </div>
                        @* <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="tp-pd-2-bottom-item mb-20">
                        <span>Process</span>
                        <h6>• Design <br> • Development <br> • Branding</h6>
                        </div>
                        </div> *@
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="text-xl-end">
                        <a class="tp-btn tp-btn-border" href="https://github.com/abuhuraira-73/RunQuest">
                            <span>
                                <span class="text-1">Visit Project</span>
                                <span class="text-2">Visit Project</span>
                            </span>
                            <i>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                        fill="currentColor" />
                                </svg>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.21967 9.40717C-0.0732232 9.70006 -0.0732232 10.1749 0.21967 10.4678C0.512563 10.7607 0.987437 10.7607 1.28033 10.4678L0.21967 9.40717ZM10.6875 0.75C10.6875 0.335786 10.3517 2.97145e-09 9.9375 1.50485e-07L3.1875 -2.70983e-07C2.77329 -2.70983e-07 2.4375 0.335786 2.4375 0.75C2.4375 1.16421 2.77329 1.5 3.1875 1.5H9.1875V7.5C9.1875 7.91421 9.52329 8.25 9.9375 8.25C10.3517 8.25 10.6875 7.91421 10.6875 7.5L10.6875 0.75ZM0.75 9.9375L1.28033 10.4678L10.4678 1.28033L9.9375 0.75L9.40717 0.21967L0.21967 9.40717L0.75 9.9375Z"
                                        fill="currentColor" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details 2 area end -->
    <!-- portfolio details overview start -->
    <div class="tp-pd-2-overview-ptb pb-25">
        <div class="container">
            <div class="tp-about-border pt-70">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tp-pd-2-overview-heading tp_fade_anim" data-delay=".3">
                            <h3 class="tp-pd-2-overview-title reveal-text">Project Overview</h3>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="tp-pd-2-overview-wrap mr-100">
                            <p>
                                RunQuest is an innovative real-life fitness game designed to transform daily activities
                                like walking or jogging into an engaging, worldwide multiplayer experience. Integrated
                                seamlessly with smartwatches and a dedicated mobile app, players can actively
                                participate
                                in capturing virtual territories by physically moving within designated real-world
                                areas.
                            </p>
                            <p>
                                This dynamic application will feature global leaderboards, allowing users to compete and
                                strategically capture opponents' territories, fostering a competitive and motivating
                                environment. RunQuest aims to blend physical exercise with interactive gameplay, making
                                fitness more exciting and social for users around the globe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details overview end -->
    <!-- portfolio details area start -->
    <div class="tp-pd-2-area pb-110">
        <div class="container-fluid p-0">
            <div class="row gx-20">
                <div class="col-lg-12">
                    <div class="tp-pd-2-banner mb-20 scale-up-img">
                        <img data-speed=".8" class="img-cover scale-up"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1770971309/RunQuest-ai_xaqjkc.webp"
                            alt="Project Illustration">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio details area end -->

</main>